* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*Equal Height*/
.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/*Back Button*/
.back-button {
  position: fixed;
  top: 0px;
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
}

.testbox {
  width: 200px;
  height: 200px;
  display: block;
  content: "test";
  background-color: red;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}

.bem__wrapper {
  background-color: lightblue;
}

.bem__container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}

.bem__container > h1 {
  margin: 0px;
}

.bem__container pre {
  padding: 20px;
  border: 1px solid gray;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
}

.bem__container pre.wrong {
  color: red;
}

.bem__container section {
  border-bottom: 1px solid red;
  padding: 50px 0px;
}

.bem__container section:before, .bem__container section:after {
  content: " ";
  display: table;
}

.bem__container section:after {
  clear: both;
}

.bem__container ul {
  margin-left: 20px;
}

.half {
  width: calc((100% - 2%)/2);
  margin-right: 2%;
  float: left;
}

.half:last-child {
  margin-right: 0px;
}

.em {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: red;
}

.bem__intro__image {
  width: 70%;
  border: 1px solid red;
  margin: 0 auto;
  display: block;
  background-color: #f0f0f0;
  padding: 20px;
}

.bem__style__ul {
  margin-left: 20px;
}

.bem__style__ul li {
  margin: 5px 20px;
  list-style: disc;
  line-height: 25px;
}

.bem__intro__header {
  margin: 20px 0px;
}

.bem__intro__header + span {
  font-size: 20px;
  font-style: italic;
}

.bem__btn__example {
  margin: 0px;
  list-style: none;
  line-height: normal;
}

.bem__btn__example:before, .bem__btn__example:after {
  content: " ";
  display: table;
}

.bem__btn__example:after {
  clear: both;
}

.bem__btn__example div {
  float: left;
}

.bem__btn__display {
  width: 30%;
  /* Block */
  /* Element */
  /* Element */
  /* Modifier */
  /* Modifier */
  /* Modifier */
  /* Modifier */
}

.bem__btn__display .btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
}

.bem__btn__display .btn__price {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  /* realign button text padding */
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
}

.bem__btn__display .btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

.bem__btn__display .btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.bem__btn__display .btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.bem__btn__display .btn--red {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.bem__btn__display .btn--green {
  border-color: #3D9970;
  color: white;
  background-color: #3D9970;
}

.bem__btn__code {
  width: 70%;
}

.bem__btn__code pre {
  margin: 0px;
}

.bem__proposed__change ul li span {
  font-weight: bold;
}

.bem__resources a {
  display: block;
  margin: 10px 0px;
}

.bem__resources a:hover {
  color: red;
}
