* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.back-button {
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
  position: fixed;
  top: 0;
}

.testbox {
  background-color: red;
  height: 200px;
  width: 200px;
  display: block;
  content: 'test';
  z-index: 1;
}

.tng-wrapper {
  height: 100vh;
  width: 100%;
}

.tng {
  display: table;
  height: inherit;
  width: 100%;
}

.tng-slider {
  list-style-type: none;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.tng-slider-bar {
  cursor: pointer;
  height: 38px;
  overflow: hidden;
  transition: height 0.2s ease;
  margin-bottom: 20px;
}

.tng-slider-bar.expand {
  height: 190px;
}

.tng-list-name {
  padding: 10px 40px;
  background-color: green;
  display: inline-block;
}

.tng-slider-images-wrapper {
  overflow: hidden;
  width: 100vw;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.tng-slider-images:before, .tng-slider-images:after {
  content: " ";
  display: table;
}

.tng-slider-images:after {
  clear: both;
}

.tng-slider-images > li {
  display: inline-block;
  float: left;
}

.tng-slider-images > li > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 150px;
  background-color: yellow;
}

.tng-slider-images img {
  width: 200px;
  display: block;
}

.tng-slider-images li:nth-child(1) > span {
  background-color: #EAF2F8;
}

.tng-slider-images li:nth-child(2) > span {
  background-color: #D4E6F1;
}

.tng-slider-images li:nth-child(3) > span {
  background-color: #A9CCE3;
}

.tng-slider-images li:nth-child(4) > span {
  background-color: #7FB3D5;
}

.tng-slider-images li:nth-child(5) > span {
  background-color: #5499C7;
}

.tng-slider-images li:nth-child(6) > span {
  background-color: #2980B9;
}

.tng-slider-images li:nth-child(7) > span {
  background-color: #2471A3;
}

.tng-slider-images li:nth-child(8) > span {
  background-color: #1F618D;
}

.tng-slider-images li:nth-child(9) > span {
  background-color: #1A5276;
}

.tng-slider-images li:nth-child(10) > span {
  background-color: #154360;
}

.tng-slider-images li:nth-child(11) > span {
  background-color: #943126;
}

.tng-slider-images li:nth-child(12) > span {
  background-color: #78281F;
}

.tng-slider-images li:last-child > span {
  background-color: red;
}
