* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.back-button {
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
  position: fixed;
  top: 0;
}

.testbox {
  background-color: red;
  height: 200px;
  width: 200px;
  display: block;
  content: 'test';
  z-index: 1;
}

.fom {
  width: 100%;
  display: table;
  height: 100vh;
  position: relative;
}

.fom-menu {
  font-size: 60px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
  z-index: 1;
}

.fom-menu li {
  cursor: pointer;
}

.fom-menu a {
  display: inline-block;
  padding: 10px 20px;
}

.fom-desc-container {
  left: 0px;
  position: absolute;
}

.fom-desc {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

.fom-desc > li {
  height: 89px;
  overflow: hidden;
  position: relative;
  left: -100%;
}

.fom-desc p {
  background-color: yellow;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 60px;
  text-align: right;
}

.fom-hoverblock {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: yellow;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 10px;
}
