* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.back-button {
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
  position: fixed;
  top: 0;
}

.testbox {
  background-color: red;
  height: 200px;
  width: 200px;
  display: block;
  content: 'test';
  z-index: 1;
}

.bb-wrapper {
  height: 100vh;
  width: 100%;
  background-color: gray;
  display: table;
}

.bb-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bb {
  display: inline-block;
  position: relative;
}

.bb-home-icon {
  width: 52px;
  height: 52px;
  display: inline-block;
  background-image: url("../images/codrop9/home.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
  position: relative;
}

.bb-title {
  margin: 0px 0px 10px 0px;
  display: block;
  position: relative;
  text-align: center;
  transition: all 0.2s ease;
}

.bb-home-icon,
.bb-title {
  pointer-events: none;
}

.bb-bubble {
  background-color: lightblue;
  border-radius: 50%;
  display: block;
  left: 7px;
  padding-top: 0px;
  position: absolute;
  top: 0px;
  height: 52px;
  width: 52px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bb-bubble:hover .bb-home-icon {
  background-position: 0px -52px;
}

.bb-bubble:hover .bb-home-icon + .bb-title {
  color: blue;
}

.bb-bubble.expand {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  left: -70px;
  opacity: 1.0;
}

.bb-bubble ul {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.bb-bubble ul li a {
  display: inline-block;
  padding: 5px 0px;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
}

.bb-bubble ul li a:hover {
  border-bottom: 1px solid red;
}

.bb-bubble ul.show {
  opacity: 1.0;
}
