* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*Equal Height*/
.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/*Back Button*/
.back-button {
  position: fixed;
  top: 0px;
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0px;
}

.product-view-container {
  padding: 50px 0;
  border: 2px solid red;
  background: url(../day2/bg.png) no-repeat;
  background-size: cover;
}

.product-view {
  min-width: 800px;
  max-width: 920px;
  background-color: white;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.eq-height {
  position: relative;
}

.chair-info,
.chair-display {
  width: 50%;
  float: left;
  padding: 40px;
}

.chair-display h1 {
  font-size: 5.5rem;
  margin: 0px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.chair-display .chair-type {
  font-size: 40px;
  text-transform: uppercase;
  color: #999999;
}

.chair-display .chair-image {
  max-width: 100%;
}

.chair-display .arrow-container {
  position: absolute;
  top: 0;
  left: 0;
}

.chair-display .arrow-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid 30px #d6d75b;
  border-top: solid 30px #d6d75b;
  border-bottom: solid 30px transparent;
  border-right: solid 30px transparent;
}

.chair-display .arrow-container .arrow {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-left: 7.5px;
}

.chair-info .chair-description {
  font-size: 16px;
  color: #999999;
}

.chair-info .chair-status {
  margin: 15px 0px;
  display: block;
}

.chair-info a {
  color: #3399ff;
}

.chair-info .star-rating {
  margin-top: 50px;
}

.chair-info .star-rating > i, .chair-info .star-rating p {
  display: inline-block;
  float: left;
  line-height: 16px;
}

.chair-info .star-rating .review-rating {
  font-size: 16px;
  margin-left: 10px;
}

.chair-info .icon-star {
  background-image: url("../day2/star.png");
  background-repeat: no-repeat;
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.chair-info .icon-star.light {
  background-position: 0px 0px;
}

.chair-info .purchase-quantity {
  line-height: 30px;
  margin-top: 100px;
}

.chair-info .purchase-quantity span {
  text-transform: uppercase;
  line-height: 30px;
  vertical-align: middle;
  margin-right: 20px;
}

.chair-info .purchase-quantity .amount {
  font-size: 30px;
  color: #999999;
  line-height: 30px;
  margin: 0px 25px;
}

.chair-info .purchase-quantity .icon-arrow {
  background-image: url("../day2/controls.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 15px;
}

.chair-info .purchase-quantity .icon-arrow.left {
  background-position: 7px 5px;
}

.chair-info .purchase-quantity .icon-arrow.right {
  background-position: -137px 5px;
}

.product-checkout {
  width: 100%;
  display: block;
  padding: 20px 20px 0px 20px;
  position: relative;
}

.product-checkout:before {
  content: "";
  border: 1px solid #999999;
  border-width: 1px 0px 0px 0px;
  position: absolute;
  width: calc(100% + 20px - 20px);
  height: 1px;
  top: 0px;
  right: -20px;
}

.product-checkout .price {
  float: left;
}

.product-checkout .price p:first-child {
  text-transform: uppercase;
  font-size: 14px;
}

.product-checkout .price p:nth-child(2) {
  font-size: 30px;
  color: #d6d75b;
}

.product-checkout .add-cart {
  font-size: 30px;
  float: right;
  vertical-align: middle;
  color: #d6d75b;
  line-height: 53px;
}
