body {
  background-color: white; }

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.box1 {
  flex: 10 5 400px; }

.box2 {
  flex: 1 1 400p; }

p {
  color: black;
  transition: all 1s ease; }
