/*Reset*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.info-list-exception {
  list-style-type: disc;
  margin: 10px 0px;
  padding-left: 20px;
}

.info-list-exception > li {
  margin: 10px 0px;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*General*/
.info-try-this {
  display: block;
  margin: 5px 0px;
  background-color: darkgreen;
  padding: 20px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.mo-wrapper {
  position: relative;
}

.mo-sidebar {
  background-color: beige;
  width: 275px;
  min-height: 100vh;
  padding: 30px;
  position: absolute;
  left: 0px;
  transition: left 0.2s ease;
}

.mo-sidebar ul > li {
  display: inline-block;
  width: 100%;
}

.mo-sidebar button, .mo-sidebar label {
  width: 100%;
  text-align: left;
  color: #6F6F6F;
  font-size: 18px;
  margin-bottom: 10px;
}

.mo-sidebar h1, .mo-sidebar h2 {
  margin: 0px 0px 10px 0px;
}

.mo-sidebar.slide-in {
  left: -275px;
}

.mo-sidebar .mo-sidebar-hide {
  background-color: #eaeab4;
  display: inline-block;
  width: auto;
  padding: 10px;
  color: black;
  position: absolute;
  top: 0px;
  right: -32px;
  cursor: pointer;
  z-index: 1;
}

.mo-sidebar .mo-sidebar-hide:hover .triangle {
  border-right: 15px solid red;
}

.mo-sidebar .mo-sidebar-hide > .triangle {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid blue;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.mo-sidebar .mo-sidebar-hide > .triangle.inverse {
  transform: rotate(180deg);
}

.mo-main-container {
  width: calc(100% - 275px);
  position: absolute;
  left: 275px;
  top: 0px;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease, left 0.3s ease, width 0.3s ease;
  padding: 50px;
  height: 100vh;
  overflow-y: scroll;
  display: inline-block;
}

.mo-main-container.slide-out {
  top: 10px;
  opacity: 0;
}

.mo-main-container.expand {
  width: 100%;
  left: 0px;
}

.mo-dropdown input {
  display: none;
}

.mo-dropdown label {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  position: relative;
}

.mo-dropdown label:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid #6F6F6F;
  position: absolute;
  right: 0px;
  top: 5px;
  transition: transform 0.2s ease;
}

.mo-dropdown input:checked ~ .mo-tab-content {
  max-height: 300px;
}

.mo-dropdown input:checked ~ label:after {
  transform: rotate(90deg);
}

.mo-tab-content {
  max-height: 0;
  float: left;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  width: 100%;
}

.mo-tab-content > li {
  padding-left: 20px;
  position: relative;
}

.mo-tab-content > li:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: #8497AB;
}

.mo-contents {
  display: none;
}

.mo-button-list > li.active button, .mo-tab-content > li.active button {
  color: #849AB0;
}

/*CONTENTS*/
.info-box-model__box {
  display: inline-block;
  background-color: darkturquoise;
  font-size: 20px;
}

.box_turquoise {
  background-color: darkturquoise;
}

.box_chartreuse {
  background-color: chartreuse;
}

.box-model {
  border: 10px solid black;
  margin: 20px;
  padding: 50px;
}

.info-box-give-me-height {
  border: 2px solid rgba(0, 0, 255, 0.5);
  position: relative;
}

.info-box-give-me-height:after {
  content: "info-box-give-me-height section";
  position: absolute;
  top: -40px;
  right: -2px;
  background-color: rgba(0, 0, 255, 0.5);
  padding: 10px;
  color: white;
}

.box-d-1 {
  height: 300px;
  width: 300px;
}

.box-d-2 {
  height: 20%;
  width: 20%;
}

.box-d-3 {
  height: 300px;
  width: 300px;
}

.box-d-4 {
  height: 50%;
  width: 50%;
}

.box-margin-collapse {
  display: block;
  padding: 20px;
  margin: 20px 0px;
}

.box-sizing {
  border: 10px solid grey;
  width: 200px;
  height: 200px;
}

.box-sizing .box1 {
  box-sizing: border-box;
}

.box-sizing .box2 {
  box-sizing: content-box;
}

.box-sizing .box3 {
  box-sizing: border-box;
  padding: 20px;
}

.box-sizing .box4 {
  box-sizing: content-box;
  padding: 20px;
}
