/*Variables*/
/*Color Combo Factory*/
/*Color Combo Sets*/
/*Target is for targeting either the color or the bgcolor*/
/*Shadow Constructor*/
/*Mixin*/
/*Class*/
.inset-shadow {
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.outer-shadow {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*Class*/
.border-radius-6 {
  border-radius: 6px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-2 {
  border-radius: 2px;
}

/*Mixin*/
/*Alerts*/
.alert {
  padding: 15px;
  margin: 0 0 10px;
  border-radius: 2px;
  position: relative;
  font-size: 13px;
  word-wrap: break-word;
}

.alert-success {
  background-color: #d8e9c6;
  color: #2c2a37;
}

.alert-info {
  background-color: #c3e0e3;
  color: #2c2a37;
}

.alert-warning {
  background-color: #f3eeae;
  color: #2c2a37;
}

.alert-danger {
  background-color: #f8c8c8;
  color: #2c2a37;
}

.alert-danger-attention {
  background-color: #f98484;
  color: #fff;
}

.alert-nonfullwidth {
  text-align: center;
  width: 60%;
  margin: auto;
}

.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissible .close {
  position: relative;
  top: 2px;
  right: -21px;
  color: #5d5a6b;
  opacity: 1;
}

.alert-flash {
  display: inline-block;
  margin: 0px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 0.7;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/*Buttons*/
.pikto-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #e8e8e8;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background, 0.3s;
  -o-transition: background, 0.3s;
  transition: background, 0.3s;
  color: #2c2a37;
}

.pikto-btn:hover {
  background-color: #c2c2c2;
}

.pikto-btn:active {
  outline: 0;
  background-image: none;
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.pikto-btn-teal {
  color: #fff;
  background-color: #1cafa2;
}

.pikto-btn-teal:hover {
  background-color: #158379;
}

.pikto-btn-teal:active {
  background-color: #127169;
}

.pikto-btn-magenta {
  color: #fff;
  background-color: #f16078;
}

.pikto-btn-magenta:hover {
  background-color: #cb3f56;
}

.pikto-btn-magenta:active {
  background-color: #a12e41;
}

.pikto-btn-grey {
  color: #fff;
  background-color: #485456;
}

.pikto-btn-grey:hover {
  background-color: #3f3c4e;
}

.pikto-btn-grey:active {
  background-color: #1e1d26;
}

.pikto-btn-lightgrey {
  background-color: #f0f0f0;
}

.pikto-btn-lightgrey:hover {
  background-color: #c2c2c2;
}

.pikto-btn-lightgrey:active {
  background-color: #666470;
}

.pikto-btn-purplegrey {
  color: #fff;
  background-color: #5d5a6b;
}

.pikto-btn-purplegrey:hover {
  background-color: #3f3c4e;
}

.pikto-btn-purplegrey:active {
  background-color: #3f3c4e;
}

.pikto-btn-option {
  border-color: #d8d8d8;
  background-color: #fff;
}

.pikto-btn-option:hover {
  background-color: #f0f0f0;
}

.pikto-btn-option:active {
  background-color: #d8d8d8;
}

.pikto-btn-option:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pikto-btn-option.active {
  background-color: #d8d8d8;
}

.pikto-btn-bluegrey-outline {
  color: #fff;
  border-color: #666470;
  background-color: transparent;
}

.pikto-btn-bluegrey-outline:hover {
  background-color: #666470;
}

.pikto-btn-bluegrey-outline:active {
  background-color: #413d49;
}

.pikto-btn-success {
  background-color: #d8e9c6;
}

.pikto-btn-success:hover {
  background-color: #bfdba1;
}

.pikto-btn-success:active {
  background-color: #b0d28b;
}

.pikto-btn-info {
  background-color: #c3e0e3;
}

.pikto-btn-info:hover {
  background-color: #a0ced3;
}

.pikto-btn-info:active {
  background-color: #8bc3c9;
}

.pikto-btn-warning {
  background-color: #f3eeae;
}

.pikto-btn-warning:hover {
  background-color: #ece582;
}

.pikto-btn-warning:active {
  background-color: #e8df67;
}

.pikto-btn-danger {
  background-color: #f8c8c8;
}

.pikto-btn-danger:hover {
  background-color: #f75353;
}

.pikto-btn-danger:active {
  background-color: #f53636;
}

.pikto-btn-block {
  display: block;
  width: 100%;
}

.pikto-btn-xl {
  padding: 16px 28px;
  font-size: 22px;
  line-height: 1.33333;
}

.pikto-btn-xl--wide {
  padding: 16px 48px;
  font-size: 22px;
  line-height: 1.33333;
}

.pikto-btn-lg {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33333;
}

.pikto-btn-lg--wide {
  padding: 16px 36px;
  font-size: 19px;
  line-height: 1.33333;
}

.pikto-btn-md {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.33333;
}

.pikto-btn-md--wide {
  padding: 8px 36px;
  font-size: 16px;
  line-height: 1.33333;
}

.pikto-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pikto-btn-sm--wide {
  padding: 8px 30px;
  font-size: 12px;
  line-height: 1.5;
}

.pikto-btn-xs {
  padding: 2px 5px;
  font-size: 10px;
  line-height: 1.5;
}

.pikto-btn-xs--wide {
  padding: 8px 25px;
  font-size: 10px;
  line-height: 1.5;
}

/*Utilities*/
.pikto-btn.disabled,
.pikto-btn[disabled],
fieldset[disabled] .pikto-btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pikto-no-events {
  pointer-events: none !important;
}

.pikto-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .pikto-btn,
.btn-group-vertical > .pikto-btn {
  position: relative;
  float: left;
}

.btn-group > .pikto-btn:hover, .btn-group > .pikto-btn:focus, .btn-group > .pikto-btn:active,
.btn-group-vertical > .pikto-btn:hover,
.btn-group-vertical > .pikto-btn:focus,
.btn-group-vertical > .pikto-btn:active {
  z-index: 2;
}

.btn-group > .pikto-btn.active,
.btn-group-vertical > .pikto-btn.active {
  top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-group .pikto-btn + .pikto-btn,
.btn-group .pikto-btn + .btn-group,
.btn-group .btn-group + .pikto-btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

/*Labels*/
.label {
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: normal;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-decoration: none;
}

.label:empty {
  display: none;
}

.label-default {
  background-color: #666470;
}

.label-primary {
  background-color: #1cafa2;
}

.label-magenta {
  background-color: #f16078;
}

.label-success {
  background-color: #d8e9c6;
}

.label-info {
  background-color: #c3e0e3;
}

.label-warning {
  background-color: #f3eeae;
}

.label-danger {
  background-color: #f8c8c8;
}

.label-levelup {
  text-transform: uppercase;
  font-size: 10px;
  z-index: 3;
  padding: 2px 8px;
  /* Content of the button. */
}

.label-levelup:before {
  content: "level up";
  text-transform: uppercase;
  cursor: pointer;
}

.label-beta, .label-pro {
  color: #809A9C;
  border: 1px solid #809A9C;
}

/*Popover*/
.popover {
  display: inline-block;
  position: relative;
  max-width: 220px;
  text-align: left;
  background-clip: padding-box;
  white-space: normal;
  font-size: 12px;
  border-radius: 2px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  /*Arrow Positions*/
}

.popover.top {
  margin-top: -6px;
}

.popover.right {
  margin-left: 6px;
}

.popover.bottom {
  margin-top: 6px;
}

.popover.left {
  margin-left: -6px;
}

.popover .arrow {
  border-width: 6px;
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
}

.popover.top .arrow {
  left: 50%;
  margin-left: -6px;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -6px;
}

.popover.top .arrow:after {
  bottom: 2px;
  margin-left: -6px;
  border-bottom-width: 0;
}

.popover.top-left .arrow {
  left: 85%;
}

.popover.top-right .arrow {
  left: 15%;
}

.popover.bottom .arrow {
  left: 50%;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -6px;
}

.popover.bottom-left .arrow {
  left: 85%;
}

.popover.bottom-right .arrow {
  left: 15%;
}

.popover.right .arrow {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-right-color: rgba(0, 0, 0, 0.2);
}

.popover.left .arrow {
  top: 50%;
  right: -6px;
  margin-top: -6px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-left-color: rgba(0, 0, 0, 0.2);
}

.popover-md {
  width: 440px;
}

.popover-md .popover-image {
  padding-right: 0px;
}

.popover-md .popover-text-content {
  padding-left: 20px;
}

.popover-footer {
  padding: 15px 20px;
  text-align: right;
}

.popover-image {
  display: inline-block;
}

.popover-teal-grey {
  padding: 10px 30px;
  background-color: #eaf2ef;
  color: #2c2a37;
}

.popover-teal-grey.top .arrow {
  border-top-color: #eaf2ef;
}

.popover-teal-grey.bottom .arrow {
  border-bottom-color: #eaf2ef;
}

.popover-teal-grey.left .arrow {
  border-left-color: #eaf2ef;
}

.popover-teal-grey.right .arrow {
  border-right-color: #eaf2ef;
}

.popover-dark-purple {
  padding: 10px 30px;
  background-color: #2c2a37;
  color: #f0f0f0;
}

.popover-dark-purple.top .arrow {
  border-top-color: #2c2a37;
}

.popover-dark-purple.bottom .arrow {
  border-bottom-color: #2c2a37;
}

.popover-dark-purple.left .arrow {
  border-left-color: #2c2a37;
}

.popover-dark-purple.right .arrow {
  border-right-color: #2c2a37;
}

.popover-white.top .arrow {
  border-top-color: #f9f9f9;
  bottom: -7px;
}

.popover-white.bottom .arrow {
  border-bottom-color: #fff;
  top: -7px;
}

.popover-white.left .arrow {
  border-left-color: #fff;
  right: -7px;
}

.popover-white.right .arrow {
  border-right-color: #fff;
  left: -7px;
}

.popover-white .arrow {
  border-width: 8px;
}

.popover-white .popover-content {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 2px;
}

.popover-white .popover-title {
  background-color: #fafafa;
  padding: 5px 15px;
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
  border-radius: 2px 2px 0px 0px;
}

.popover-white .popover-footer {
  padding: 12px 20px;
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8;
  font-size: 14px;
  border-radius: 0px 0px 2px 2px;
}

.popover-white .popover-footer > button {
  color: #666470;
}

.popover-with-title .popover-content {
  border-radius: 0px 0px 2px 2px;
}

.popover-with-footer .popover-content {
  border-radius: 2px 2px 0px 0px;
}

.popover-onboarding {
  max-width: initial;
  width: 350px;
  z-index: 1000;
}

.popover-onboarding .popover-content {
  position: relative;
  display: table;
  padding: 30px;
  font-size: 14px;
}

.popover-onboarding .popover-content > p {
  margin-bottom: 0px;
}

.popover-onboarding .icon-cross-greydark-big {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  opacity: 0.8;
}

.popover-onboarding .icon-cross-greydark-big:hover {
  opacity: 1;
}

.popover-onboarding .popover-image,
.popover-onboarding .popover-text-content {
  display: table-cell;
  vertical-align: middle;
}

.popover-onboarding .popover-image {
  padding-right: 20px;
  width: 100px;
}

.popover-onboarding .popover-text-content > p, .popover-onboarding .popover-text-content h1 {
  margin: 0;
}

.popover-onboarding .popover-title-bold {
  margin-bottom: 10px;
}

.popover-onboarding .popover-title {
  margin-bottom: 10px;
}

.popover-onboarding .btn-close {
  transition: color 0.2s ease;
}

.popover-onboarding .btn-close:hover {
  color: #1cafa2;
}

.popover-onboarding .btn-close:active {
  color: #158379;
}

.popover-onboarding .tour-btn {
  margin-right: 5px;
}
