/*Variables*/
/*Color Combo Factory*/
/*Color Combo Sets*/
/*Target is for targeting either the color or the bgcolor*/
/*Alerts*/
.alert {
  padding: 15px;
  margin: 0 0 10px;
  border-radius: 2px;
  position: relative;
  font-size: 13px;
  word-wrap: break-word;
}

.alert-success {
  background-color: #d8e9c6;
  color: #2c2a37;
}

.alert-info {
  background-color: #c3e0e3;
  color: #2c2a37;
}

.alert-warning {
  background-color: #f3eeae;
  color: #2c2a37;
}

.alert-danger {
  background-color: #f8c8c8;
  color: #2c2a37;
}

.alert-danger-attention {
  background-color: #f98484;
  color: #fff;
}

.alert-nonfullwidth {
  text-align: center;
  width: 60%;
  margin: auto;
}

.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissible .close {
  position: relative;
  top: 2px;
  right: -21px;
  color: #5d5a6b;
  opacity: 1;
}

.alert-flash {
  display: inline-block;
  margin: 0px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 0.7;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/*Buttons*/
.pikto-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #e8e8e8;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background, 0.3s;
  -o-transition: background, 0.3s;
  transition: background, 0.3s;
  color: #2c2a37;
}

.pikto-btn:hover {
  background-color: #c2c2c2;
}

.pikto-btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 1px;
}

.pikto-btn-teal {
  color: #fff;
  background-color: #1cafa2;
}

.pikto-btn-teal:hover {
  background-color: #158379;
}

.pikto-btn-teal:active {
  background-color: #127169;
}

.pikto-btn-magenta {
  color: #fff;
  background-color: #f16078;
}

.pikto-btn-magenta:hover {
  background-color: #cb3f56;
}

.pikto-btn-magenta:active {
  background-color: #a12e41;
}

.pikto-btn-grey {
  color: #fff;
  background-color: #485456;
}

.pikto-btn-grey:hover {
  background-color: #3f3c4e;
}

.pikto-btn-grey:active {
  background-color: #1e1d26;
}

.pikto-btn-lightgrey {
  background-color: #f0f0f0;
}

.pikto-btn-lightgrey:hover {
  background-color: #c2c2c2;
}

.pikto-btn-lightgrey:active {
  background-color: #666470;
}

.pikto-btn-purplegrey {
  color: #fff;
  background-color: #5d5a6b;
}

.pikto-btn-purplegrey:hover {
  background-color: #3f3c4e;
}

.pikto-btn-purplegrey:active {
  background-color: #3f3c4e;
}

.pikto-btn-option {
  border-color: #d8d8d8;
  background-color: #fff;
}

.pikto-btn-option:hover {
  background-color: #f0f0f0;
}

.pikto-btn-option:active {
  background-color: #d8d8d8;
}

.pikto-btn-option:active {
  box-shadow: none;
}

.pikto-btn-option.active {
  background-color: #d8d8d8;
}

.pikto-btn-bluegrey-outline {
  color: #fff;
  border-color: #666470;
  background-color: transparent;
}

.pikto-btn-bluegrey-outline:hover {
  background-color: #666470;
}

.pikto-btn-bluegrey-outline:active {
  background-color: #413d49;
}

.pikto-btn-success {
  background-color: #d8e9c6;
}

.pikto-btn-success:hover {
  background-color: #bfdba1;
}

.pikto-btn-success:active {
  background-color: #b0d28b;
}

.pikto-btn-info {
  background-color: #c3e0e3;
}

.pikto-btn-info:hover {
  background-color: #a0ced3;
}

.pikto-btn-info:active {
  background-color: #8bc3c9;
}

.pikto-btn-warning {
  background-color: #f3eeae;
}

.pikto-btn-warning:hover {
  background-color: #ece582;
}

.pikto-btn-warning:active {
  background-color: #e8df67;
}

.pikto-btn-danger {
  background-color: #f8c8c8;
}

.pikto-btn-danger:hover {
  background-color: #f75353;
}

.pikto-btn-danger:active {
  background-color: #f53636;
}

.pikto-btn-block {
  display: block;
  width: 100%;
}

.pikto-btn-xl {
  padding: 16px 28px;
  font-size: 22px;
  line-height: 1.33333;
}

.pikto-btn-xl--wide {
  padding: 16px 48px;
  font-size: 22px;
  line-height: 1.33333;
}

.pikto-btn-lg {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33333;
}

.pikto-btn-lg--wide {
  padding: 16px 36px;
  font-size: 19px;
  line-height: 1.33333;
}

.pikto-btn-md {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.33333;
}

.pikto-btn-md--wide {
  padding: 8px 36px;
  font-size: 16px;
  line-height: 1.33333;
}

.pikto-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pikto-btn-sm--wide {
  padding: 8px 30px;
  font-size: 12px;
  line-height: 1.5;
}

.pikto-btn-xs {
  padding: 2px 5px;
  font-size: 10px;
  line-height: 1.5;
}

.pikto-btn-xs--wide {
  padding: 8px 25px;
  font-size: 10px;
  line-height: 1.5;
}

/*Utilities*/
.pikto-btn.disabled,
.pikto-btn[disabled],
fieldset[disabled] .pikto-btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pikto-no-events {
  pointer-events: none !important;
}

.pikto-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .pikto-btn,
.btn-group-vertical > .pikto-btn {
  position: relative;
  float: left;
}

.btn-group > .pikto-btn:hover, .btn-group > .pikto-btn:focus, .btn-group > .pikto-btn:active,
.btn-group-vertical > .pikto-btn:hover,
.btn-group-vertical > .pikto-btn:focus,
.btn-group-vertical > .pikto-btn:active {
  z-index: 2;
}

.btn-group > .pikto-btn.active,
.btn-group-vertical > .pikto-btn.active {
  top: 0;
  box-shadow: none;
}

.btn-group .pikto-btn + .pikto-btn,
.btn-group .pikto-btn + .btn-group,
.btn-group .btn-group + .pikto-btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

/*Labels*/
.label {
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: normal;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-decoration: none;
}

.label:empty {
  display: none;
}

.label-default {
  background-color: #666470;
}

.label-primary {
  background-color: #1cafa2;
}

.label-magenta {
  background-color: #f16078;
}

.label-success {
  background-color: #d8e9c6;
}

.label-info {
  background-color: #c3e0e3;
}

.label-warning {
  background-color: #f3eeae;
}

.label-danger {
  background-color: #f8c8c8;
}

.label-levelup {
  text-transform: uppercase;
  font-size: 10px;
  z-index: 3;
  padding: 2px 8px;
  /* Content of the button. */
}

.label-levelup:before {
  content: "level up";
  text-transform: uppercase;
  cursor: pointer;
}

.label-beta, .label-pro {
  color: #809A9C;
  border: 1px solid #809A9C;
}
