/*Resets*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.sg-color-copy-label {
  background-color: beige;
  padding: 10px;
  position: fixed;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sg-color-copy-label.fade-in {
  opacity: 1;
}

.sg-sidebar {
  background-color: #F6F9FC;
  width: calc(275px - 60px);
  display: inline-block;
  float: left;
  min-height: 100vh;
  padding: 30px;
}

.sg-sidebar h1, .sg-sidebar h2 {
  margin: 0px 0px 10px 0px;
}

.sg-sidebar h1 {
  font-size: 34px;
  color: #6F6F6F;
  margin-bottom: 0px;
}

.sg-sidebar h2 {
  font-size: 18px;
  color: #71B0EF;
  margin-bottom: 8px;
  padding-left: 8px;
}

.sg-sidebar > span {
  font-size: 14px;
  margin-bottom: 40px;
  display: block;
  color: #BCBCBC;
}

.sg-sidebar ul > li {
  display: inline-block;
  width: 100%;
}

.sg-sidebar button, .sg-sidebar label {
  width: 100%;
  text-align: left;
  color: #6F6F6F;
  margin: 8px 0px;
}

.sg-sidebar > button {
  padding-left: 8px;
  border-left: 2px solid transparent;
}

.sg-brand-kit {
  margin-bottom: 30px;
}

.sg-content-title {
  margin-bottom: 40px;
}

.sg-main-container {
  width: calc(100% - 275px - 65px);
  display: inline-block;
  float: left;
  position: relative;
  opacity: 1;
  top: 0px;
  transition: top 0.3s ease, opacity 0.3s ease;
  padding: 100px 0px 0px 65px;
}

.sg-main-container.slide-out {
  top: 10px;
  opacity: 0;
}

.sg-main-container > h1 {
  font-size: 22px;
}

.sg-main-container > h2 {
  font-size: 16px;
  color: #71B0EF;
}

.sg-main-container .hide {
  display: none;
}

.sg-main-container > section {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  top: -10px;
  position: relative;
}

.sg-main-container > section.active {
  display: block;
}

.sg-main-container > section.slide-in {
  opacity: 1;
  top: 0px;
}

.sg-dropdown input {
  display: none;
}

.sg-dropdown label {
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.sg-dropdown input:checked ~ .sg-button-list--inner {
  max-height: 544px;
  padding-bottom: 20px;
}

.sg-button-list--outer > li > button, .sg-button-list--outer > li > label {
  border-left: 2px solid transparent;
  padding-left: 8px;
}

.sg-button-list--outer > li.active > button,
.sg-button-list--outer > li.active > input:checked ~ label {
  border-left: 2px solid #71B0EF;
  color: #849AB0;
}

.sg-button-list--inner {
  max-height: 0;
  float: left;
  overflow: hidden;
  display: inline-block;
  padding-left: 20px;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  width: 100%;
}

.sg-button-list--inner > li {
  padding-left: 20px;
  position: relative;
  /*List Item - Circle*/
}

.sg-button-list--inner > li:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 8px;
  top: 14px;
  border-radius: 50%;
  background-color: #8497AB;
}

.sg-button-list--inner > li.active--inner > button {
  color: #849AB0;
}

.sg-contents {
  display: none;
}

.sg-color-palette > li {
  float: left;
  margin-right: 24px;
}

.sg-color-palette > li > span {
  margin-top: 13px;
  display: block;
  font-size: 14px;
  text-align: center;
}

.sg-colorbox {
  /*
    The background-color is generated with JS from HTML content,
    Changing the content, will change the background-color.
  */
  width: 170px;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
  z-index: 1;
}
