ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.sg-sidebar {
  background-color: beige;
  width: calc(275px - 60px);
  display: inline-block;
  float: left;
  min-height: 100vh;
  padding: 30px;
}

.sg-sidebar ul > li {
  display: inline-block;
  width: 100%;
}

.sg-sidebar button, .sg-sidebar label {
  width: 100%;
  text-align: left;
  color: #6F6F6F;
}

.sg-sidebar h1, .sg-sidebar h2 {
  margin: 0px 0px 10px 0px;
}

.sg-main-container {
  width: calc(100% - 275px - 65px);
  display: inline-block;
  float: left;
  position: relative;
  opacity: 1;
  top: 0px;
  transition: top 0.3s ease, opacity 0.3s ease;
  padding: 100px 0px 0px 65px;
}

.sg-main-container.slide-out {
  top: 10px;
  opacity: 0;
}

.sg-dropdown input {
  display: none;
}

.sg-dropdown label {
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.sg-dropdown input:checked ~ .sg-tab-content {
  max-height: 300px;
}

.sg-tab-content {
  max-height: 0;
  float: left;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  width: 100%;
}

.sg-tab-content > li {
  padding-left: 20px;
  position: relative;
}

.sg-tab-content > li:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: #8497AB;
}

.sg-contents {
  display: none;
}

.sg-button-list > li.active button, .sg-tab-content > li.active button {
  color: #849AB0;
}
