* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*Equal Height*/
.eq-height {
  overflow: hidden;
}

.eq-height .eq-height-col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/*Back Button*/
.back-button {
  position: fixed;
  top: 0px;
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999;
}

.testbox {
  width: 200px;
  height: 200px;
  display: block;
  content: "test";
  background-color: red;
  z-index: 1;
}

input {
  outline: none;
}

.cancal {
  padding: 50px 0px;
  width: 95%;
  margin: 0 auto;
}

.cancal h1 {
  font-size: 30px;
}

.cancal_total_point, .cancal_result, .cancal_point_guide {
  position: fixed;
  padding: 5px;
  font-size: 20px;
}

.cancal_total_point {
  top: 50px;
  right: 50px;
  background-color: orange;
}

.cancal_result {
  top: 90px;
  right: 50px;
  background-color: aquamarine;
}

.cancal_point_guide {
  top: 140px;
  right: 50px;
  background-color: orange;
}

/*POINTS*/
.cancal_addnew_input {
  background-color: red;
  padding: 10px;
  display: none;
}

.cancal_addnew_input.active {
  display: block;
}

.cancal_multichoice_check, .cancal_point_check {
  border-bottom: 1px solid rgba(0, 127, 84, 0.4);
}

.cancal_multichoice_check > div, .cancal_point_check > div {
  display: inline-block;
}

.cancal_multichoice_check > div:first-child, .cancal_point_check > div:first-child {
  width: 35%;
  margin-right: 3%;
  background-color: aquamarine;
  padding: 10px;
}

.cancal_multichoice_check > div:first-child > span, .cancal_point_check > div:first-child > span {
  font-weight: bold;
  display: block;
}

.cancal_multichoice_check > div:first-child > ul, .cancal_point_check > div:first-child > ul {
  font-size: 13px;
  padding-left: 20px;
  display: inline-block;
}

.cancal_point_negative > div:first-child {
  background-color: rgba(255, 0, 0, 0.5);
}

.cancal_point_check .close-label {
  background-color: red;
  padding: 0px 5px;
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  font-style: normal;
  margin-left: 10px;
  opacity: 0.5;
}

.cancal_point_check .close-label:hover {
  opacity: 1;
}

.cancal_multichoice_check input + label {
  margin-right: 10px;
}

label {
  display: inline-block;
  cursor: pointer;
}
