body {
  font-size: 1.6rem;
  line-height: normal;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #2c3e50;
  background-color: #ecf0f1;
  padding: 50px 0px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

section {
  padding: 20px 0px;
  border-bottom: 1px solid #2c3e50;
}

.wj h1, .wj h2, .wj h3, .wj h4, .wj h5, .wj h6 {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.wj h1 {
  font-size: 100%;
}

.wj h2 {
  font-size: 95%;
}

.wj h3 {
  font-size: 90%;
}

.wj h4 {
  font-size: 85%;
}

.wj h5 {
  font-size: 80%;
}

.wj h6 {
  font-size: 75%;
}

.wj p, .wj a, .wj span, .wj input,
.wj button, .wj pre, .wj blockquote,
.wj ul, .wj ol, .wj textarea {
  font-size: 65%;
}

.wj p {
  text-align: justify;
  font-weight: 400;
}

.wj p span {
  font-size: 100%;
}

.wj pre {
  border-radius: 4px;
  background-color: #ecf0f1;
  border: 1px solid #2c3e50;
  padding: 10px;
}

.wj blockquote {
  border-left: 5px solid #2c3e50;
  margin: 0px;
  padding-left: 20px;
}

.wj blockquote.type-2 {
  background: #34495e;
  color: white;
  padding: 20px;
  border-left: 0px;
  border-radius: 4px;
}

.wj .indent {
  text-indent: 50px;
}

.wj .light {
  font-weight: 300;
}

.wj .semi-bold {
  font-weight: 600;
}

.wj .bold {
  font-weight: 700;
}

.wj .extra-bold {
  font-weight: 800;
}

.wj .italic {
  font-style: italic;
}

.wj .code {
  background-color: white;
  border: 1px solid #27ae60;
  padding: 0px 5px;
  border-radius: 4px;
}

.wj a {
  color: #2980b9;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
  display: inline-block;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.wj a:hover {
  color: #3498db;
  border-bottom: 1px solid #3498db;
}

.wj ul li, .wj ol li {
  margin: 5px 0px;
}

.wj ul li a, .wj ol li a {
  font-size: 100%;
  line-height: 100%;
  display: inline-block;
}

.wj input[type="text"], .wj textarea {
  border: 1px solid transparent;
  padding: 10px;
  background-color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.wj input[type="text"]:focus, .wj textarea:focus {
  border: 1px solid #3498db;
  outline: none;
}

.wj button {
  background-color: white;
  padding: 5px 10px;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.wj button.btn-1 {
  border: 1px solid #2c3e50;
}

.wj button.btn-1:hover {
  background-color: #2c3e50;
  color: white;
}

.wj button.btn-2 {
  border: 1px solid #27ae60;
}

.wj button.btn-2:hover {
  background-color: #27ae60;
  color: white;
}

.wj button.btn-3 {
  border: 1px solid #8e44ad;
}

.wj button.btn-3:hover {
  background-color: #8e44ad;
  color: white;
}

.wj button.btn-4 {
  border: 1px solid #e74c3c;
}

.wj button.btn-4:hover {
  background-color: #e74c3c;
  color: white;
}

/*Syntax Highlights*/
.h-c {
  color: #bdc3c7;
  font-style: italic;
}

.h-err {
  color: #f8c9c4;
  background-color: #e74c3c;
  padding: 0px 5px;
}

.h-k {
  font-weight: bold;
}

.h-o {
  font-weight: bold;
}

.h-cm {
  color: #998;
  font-style: italic;
}

.h-cp {
  color: #999;
  font-weight: bold;
}

.h-c1 {
  color: #998;
  font-style: italic;
}

.h-cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}

.h-gd {
  color: #000;
  background-color: #e74c3c;
  padding: 0px 5px;
}

.h-gdx {
  color: #000;
  background-color: #c0392b;
  padding: 0px 5px;
}

.h-ge {
  font-style: italic;
}

.h-gerr {
  color: #a00;
}

.h-gh {
  color: #999;
}

.h-gi {
  color: #000;
  background-color: #dfd;
}

.h-gix {
  color: #000;
  background-color: #afa;
}

.h-go {
  color: #888;
}

.h-gp {
  color: #555;
}

.h-gs {
  font-weight: bold;
}

.h-gsub {
  color: #aaa;
}

.h-gt {
  color: #a00;
}

.h-kc {
  font-weight: bold;
}

.h-kd {
  font-weight: bold;
}

.h-kp {
  font-weight: bold;
}

.h-kr {
  font-weight: bold;
}

.h-kt {
  color: #458;
  font-weight: bold;
}

.h-na {
  color: #008080;
}

.h-nb {
  color: #0086B3;
}

.h-nc {
  color: #458;
  font-weight: bold;
}

.h-no {
  color: #008080;
}

.h-ni {
  color: #800080;
}

.h-ne {
  color: #900;
  font-weight: bold;
}

.h-nf {
  color: #900;
  font-weight: bold;
}

.h-nn {
  color: #555;
}

.h-nt {
  color: #000080;
}

.h-nv {
  color: #008080;
}

.h-ow {
  font-weight: bold;
}

.h-w {
  color: #bbb;
}

.h-m {
  color: #099;
}

.h-s {
  color: #d14;
}

.h-mf {
  color: #099;
}

.h-mh {
  color: #099;
}

.h-mi {
  color: #099;
}

.h-mo {
  color: #099;
}

.h-sb {
  color: #d14;
}

.h-sc {
  color: #d14;
}

.h-sd {
  color: #d14;
}

.h-s2 {
  color: #d14;
}

.h-se {
  color: #d14;
}

.h-sh {
  color: #d14;
}

.h-si {
  color: #d14;
}

.h-sx {
  color: #d14;
}

.h-sr {
  color: #009926;
}

.h-s1 {
  color: #d14;
}

.h-ss {
  color: #990073;
}

.h-bp {
  color: #999;
}

.h-vc {
  color: #008080;
}

.h-vg {
  color: #008080;
}

.h-vi {
  color: #008080;
}

.h-il {
  color: #099;
}
