@import 'all';

$height: 50px;

section {
    width: 95%;
    margin: 0 auto;
}

.wrapper {
    background-color: #f0f0f0;
    background-color: gray;
    height: 150vh;
    display: block;
    position: relative;
    padding-top: $height + 10px;
}

.scrollheight-feedback {
    position: fixed;
    top: 0px;
    z-index: 2;
    left: 50px;
    padding: 5px;
    background-color: #f0f0f0;
}

.nav-bar-container {
    width: 100%;
    margin: 0 auto;
    background-color: red;
    text-align: center;
    height: $height;
    position: fixed;
    z-index: 1;
    top: 0px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-bar {
    background-color: yellow;
    display: inline-block;
}

.nav-bar__list {
    background-color: green;
    display: inline-block;
    float :left;
    padding: ($height - 18px)/2;
}

.scrollbox {
    display: block;
    height: 200px;
    width: 350px;
    overflow-y: scroll;
    border: 1px solid red;
    box-sizing: content-box;

    > p {
        padding: 20px;
        display: block;
        background-color: darkkhaki;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer;
}