@import 'all';

$csn_card_height: 500px;
$csn_card_width: 130px;

.csn {
  display: table;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
}

.csn-container {
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.csn-card {
  text-align: center;
  height: $csn_card_height;
  width: $csn_card_width;
  position: relative;
  float: left;
  border: 1px solid green;
  overflow: hidden;
  cursor: pointer;
  transition: margin-left 0.5s ease;

  &.fold {
    margin-left: -130px;
  }

  > img {
    display: block;
    height: 100%;
    position: absolute;
    transition: top 0.5s ease;
    top: -500px;
  }

  > span {
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: white;
    display: block;
    width: 100%;
    z-index: 2;
  }

  &:hover {
    > img {
      top: 0px;
    }

    .csn-link {
      bottom: 0px;
    }
  }
}

.csn-link {
  cursor: pointer;
  position: absolute;
  bottom: -100%;
  color: white;
  width: 100%;
  padding: 20px;
  background-color: rgba(0,0,0,0.9);
  transition: bottom 0.5s ease;

  > span {
    &:hover {
      color: red;
    }
  }
}

$card-set: (
  (1, #EAF2F8, 3),
  (2, #D4E6F1, 2),
  (3, #A9CCE3, 1)
);

@each $child, $bg-color ,$zindex in $card-set {
  .csn-card:nth-child(#{$child}) {
    z-index: $zindex;
    background-color: $bg-color;
  }
}

.csn-content-container {
  width: 50%;
  height: 500px;
  left: -100%;
  background-color: rgba(red, 0.8);
  position: absolute;
  display: table;
  z-index: 5;
  transition: left 0.5s ease;
}

.csn-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}