@import "all";


.fom {
  width: 100%;
  display: table;
  height: 100vh;
  position: relative;
}

.fom-menu {
  font-size: 60px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
  z-index: 1;

  li {
    cursor: pointer;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
  }
}

.fom-desc-container {
  left: 0px;
  position: absolute;
}

.fom-desc {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
  
  > li {
    height: 89px;
    overflow: hidden;
    position: relative;
    left: -100%;
  }

  p {
    background-color: yellow;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 60px;
    text-align: right;
  }
}

.fom-hoverblock {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: yellow;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 10px;
}