@import 'all';

@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes cn-page-move-in {
  from   { margin-top: -10px; }
  to { margin-top: 0px; }
}
@-moz-keyframes cn-page-move-in {
  from   { margin-top: -10px; }
  to { margin-top: 0px; }
}
@-ms-keyframes cn-page-move-in {
  from   { margin-top: -10px; }
  to { margin-top: 0px; }
}

/*Move Up to Hide*/
@-webkit-keyframes move-up-hide {
  from {top: 0px; }
  to   {top: -420px; }
}
@-moz-keyframes move-up-hide {
  from {top: 0px; }
  to   {top: -420px; }
}
@-ms-keyframes move-up-hide {
  from {top: 0px; }
  to   {top: -420px; }
}

/*Move Up to Show*/
@-webkit-keyframes move-up-show {
  from {top: 420px; }
  to   {top: 0px; }
}
@-moz-keyframes move-up-show {
  from {top: 420px; }
  to   {top: 0px; }
}
@-ms-keyframes move-up-show {
  from {top: 420px; }
  to   {top: 0px; }
}

/*Move Down to Hide*/
@-webkit-keyframes move-down-hide {
  from {top: 0px; }
  to   {top: 420px; }
}
@-moz-keyframes move-down-hide {
  from {top: 0px; }
  to   {top: 420px; }
}
@-ms-keyframes move-down-hide {
  from {top: 0px; }
  to   {top: 420px; }
}

/*Move Down to Show*/
@-webkit-keyframes move-down-show {
  from {top: -420px; }
  to   {top: 0px; }
}
@-moz-keyframes move-down-show {
  from {top: -420px; }
  to   {top: 0px; }
}
@-ms-keyframes move-down-show {
  from {top: -420px; }
  to   {top: 0px; }
}

.cnp-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 100vh;
  align-items: center;
}

.cnp {
  background-color: beige;
  width: 50%;
  height: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.cnp-page-list,
.cnp-preview-list {
  flex: 1;
}

.cn-page {
  display: none;

  &.active {
    display: block;
    -webkit-animation: fade-in 0.3s ease-in 1, cn-page-move-in 0.3s ease-in 1;
    -moz-animation: fade-in 0.3s ease-in 1, cn-page-move-in 0.3s ease-in 1;
    animation: fade-in 0.3s ease-in 1, cn-page-move-in 0.3s ease-in 1;
  }
}

.cn-page-item {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  background-color: green;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(green, 5%);
  }

  > p, >h2 {
    pointer-events: none;
  }

  > p {
    height: calc(80px - 28px - (2 * 10px));
    overflow: hidden;
    text-overflow: ellipsis;
  }
} 

.cnp-preview-list {
  position: relative;
}

.cnp-content {
  position: absolute;
  height: calc(420px - 20px);
  background-color: purple;
  padding: 10px;
  display: block;
  top: -420px;
  
  > img {
    width: 100%
  }

  &.currentActive {
    top: 0px;
  }

  &.move-up-hide {
    -webkit-animation: move-up-hide 0.3s ease-in 1;
    -moz-animation: move-up-hide 0.3s ease-in 1;
    animation: move-up-hide 0.3s ease-in 1;
  }

  &.move-up-show {
    -webkit-animation: move-up-show 0.3s ease-in 1;
    -moz-animation: move-up-show 0.3s ease-in 1;
    animation: move-up-show 0.3s ease-in 1;
  }

  &.move-down-hide {
    -webkit-animation: move-down-hide 0.3s ease-in 1;
    -moz-animation: move-down-hide 0.3s ease-in 1;
    animation: move-down-hide 0.3s ease-in 1;
  }

  &.move-down-show {
    -webkit-animation: move-down-show 0.3s ease-in 1;
    -moz-animation: move-down-show 0.3s ease-in 1;
    animation: move-down-show 0.3s ease-in 1;
  }

  &.move-up-hide,
  &.move-up-show,
  &.move-down-show,
  &.move-down-hide {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.cnp-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  text-align: center;
  padding: 10px 0px;
}