@import 'all';

$padding: 50px;
$box-padding: 20px;

body {
    font-family: 'Montserrat', sans-serif; 
}

.product-view-container {
    width: 100%;
    padding: $padding 0;
    border: 2px solid red;
    background: url(../day2/bg.png) no-repeat;
    background-size: cover;
}

.product-view {
    background-color: white;
    padding: $box-padding 0;
    width: 70%;
    margin: 0 auto;
}
div[class^="chair"]{
    // border: 1px solid blue;
    width: 50%;
    float:left;
    background-color: gray;
}
.chair-display {
    .arrow {
        background-color: red;
    }
}