@import "all";

section {
  display: block;
  width: 100%;
  border: 1px solid red;
  margin: 20px 0px;
}

.js-counter {
  margin-top: 30px;
}

.js-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  position: relative;
  left: 0px;
  cursor: pointer;
}
