/*Variables -- Fonts*/
@import "proxima-nova";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700");

$proxima-regular:   "ProximaNova-Regular", Arial, sans-serif !default;
$proxima-semibold:  "ProximaNova-Semibold", Arial, sans-serif !default;
$proxima-bold:      "ProximaNova-Bold", Arial, sans-serif !default;
$source-code-pro:   "Source Code Pro", monospace !default; 
$montserrat:        "Montserrat", Arial, sans-serif !default;

$base-font-size:    14px;

/*Mixins -- Fonts*/
@mixin montserrat ($weight) {
  font-family: $montserrat;

  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'semibold'{
    font-weight: 700;
  }
  @if $weight == 'bold'{
    font-weight: 900;
  }  
}

@mixin proxima ($weight){
  @if $weight == 'regular'{
    font-family: $proxima-regular;
  } 
  @if $weight == 'semibold'{
    font-family: $proxima-semibold;
  } 
  @if $weight == 'bold'{
    font-family: $proxima-bold;
  }
}

@mixin sourceCode ($weight){
  font-family: $source-code-pro;
  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'bold'{
    font-weight: 600;
  }
  @if $weight == 'bolder'{
    font-weight: 900;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/*Variables -- Colors*/
$lightblue: #F6F9FC;
$lightblue2: #8497AB;
$lightblue3: #EAEEF1;
$blue: #71B0EF;
$blue2: #6B7C93;
$gray1: #6F6F6F;
$gray2: #849AB0;
$gray3: #BCBCBC;
$gray4: #6A6A6A;
$gray5: #F7F7F7;
$gray6: #E0E0E0;
$red: #AA1111;
$teal: #1CAFA2;
$purple-gray: #262442;
$purple-gray-2: #6A6887;
$darkblue: #0A5FAC;
$green: #117700;
$light-purple-grey-02: #474456;

$white: #fff;
$black: #000;
/*Variables -- Layout*/
$sg-sidebar-padding: 8px; 
$sg-button-list--inner-padding-btm: 20px;

/*Resets*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0px;  
  padding: 0px;

  &:focus {
    outline: none;
  }
}

/*Scaffold*/
body {
  color: $blue2;
  overflow: hidden;
}

pre code {
  @include sourceCode(regular);
}

/*General*/
.sg-wrapper {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.sg-color-copy-label {
  background-color: beige;
  padding: 10px;
  position: fixed;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: opacity 0.2s ease;

  &.fade-in {
    opacity: 1
  }
}

.sg-sidebar {
  // background-color: $lightblue;
  background-color: $lightblue3;
  width: 275px;
  height: 100vh;
  display: inline-block;
  float: left;
  overflow: auto;
  padding: 30px;
  @include montserrat(regular);

  h1, h2 {
    @include montserrat(regular);
    margin: 0px 0px 10px 0px;
  }

  h1 {
    font-size: 34px;
    color: $gray1;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 18px;
    color: $teal;
    margin-bottom: 8px;
    padding-left: $sg-sidebar-padding;
    letter-spacing: 0.5px;
    @include montserrat(semibold);
  }

  > span {
    font-size: 14px;
    margin-bottom: 40px;
    display: block;
    color: $gray3;
  }

  ul > li {
    display: inline-block;
    width: 100%;
  }

  button, label {
    width: 100%;
    text-align: left;
    color: $purple-gray;
    margin: 5px 0px;
    line-height: 14px
  }

  > button {
    padding-left: $sg-sidebar-padding;
    border-left: 2px solid transparent;
  }
}

.sg-sidebar-logo {
  padding-left: 8px;
  margin-bottom: 50px;
}

.sg-brand-kit {
  margin-bottom: 30px;
}

.sg-content-title {
  margin-bottom: 40px;
}

.sg-main-container {
  width: calc(100% - 275px);
  display: inline-block;
  float: left;
  position: relative;
  opacity: 1;
  top: 0px;
  transition: top 0.3s ease, opacity 0.3s ease;
  padding: 100px 65px;
  height: 100vh;
  overflow: auto;
  
  &.slide-out {
    top: 10px;
    opacity: 0;
  }

  > section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    top: -10px;
    position: relative;

    &.active {
      display: block;
    }

    &.slide-in {
      opacity: 1;
      top: 0px;
    }
  }
}

.sg-h1 {
  @include montserrat(semibold);
  font-size: 22px;
  color: $purple-gray;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sg-h2 {
  @include montserrat(regular);
  font-size: 14px;
  letter-spacing: 0.47px;
  margin-top: 55px;
  color: $darkblue;
}

.sg-code {
  font-size: 12px;
  @include sourceCode(regular);
  color: $green;
}

.sg-dropdown {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    width: 100%;
    display: inline-block;
  }

  input:checked ~ .sg-button-list--inner {
    max-height: 544px;
    padding-bottom: $sg-button-list--inner-padding-btm;
  }
}

.sg-button-list--outer {
  > li {
    > button, > label {
      border-left: 2px solid transparent;
      padding-left: $sg-sidebar-padding;
    }
  }

  > li.active {
    > button,  
    > input:checked ~ label {
      border-left: 2px solid $teal;
      color: $teal;
    }
  }
}

.sg-button-list--inner {
  max-height: 0;
  float: left;
  overflow: hidden;
  display: inline-block;
  padding-left: 10px;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  width: 100%;

  > li {
    padding-left: 10px;
    position: relative;

    > button {
      color: $purple-gray-2
    }

    /*List Item - Circle*/
    // &:after {
    //   content: " ";
    //   display: block;
    //   position: absolute;
    //   width: 3px;
    //   height: 3px;
    //   left: 8px;
    //   top: 14px;
    //   border-radius: 50%;
    //   background-color: $lightblue2;
    // }

    &.active--inner { 
      > button {
        color: $teal;
      }
    }
  }
}

.sg-contents {
  display: none;
}

.sg-color-palette {

  > div {
    @include clearfix();

    > li {
      float: left;
      margin-right: 24px;
      margin-bottom: 35px;

      > span {
        margin-top: 6px;
        display: block; 
        font-size: 10px;
        text-align: left;
        border: 1px solid $lightblue3;
        color: $purple-gray;
        @include sourceCode(regular);

      }
    }
  }
}

.sg-colorbox {
  // The background-color is generated with JS from HTML content,
  // Changing the content, will change the background-color.
  @include montserrat(regular);
  width: 144px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
  z-index: 1;
  color: $lightblue2;
  font-size: 14px;
  border-radius: 2px;
}

$sg-code-line-height: 20px;
.sg-code-box {
  margin: 50px 0px 20px;
  position: relative;

  pre {
    width: calc(100% - 32px);
    margin: 0px;
    border: 1px solid $gray6;
    padding: 0px;
    background-color: #fff;

    code {
      float: left;
      line-height: $sg-code-line-height;
    }
  }

  > span {
    position: absolute;
    top: -20px;
    color: $gray3;
  }
}

.sg-code-content {
  @include flexbox();
  transition: height 0.2s ease;
  overflow-y: hidden;

  &.sg-code-hidden {
    height: 1px !important;
  }
}

.sg-code-box-sidebar {
  display: block;
  background-color: $gray5;
  width: 32px;
  flex: 1;
  padding: 8px 0px;
  border: 1px solid $gray6;
  border-right: 0px;

  > span {
    font-family: Courier, monospace;
    display: block;
    line-height: $sg-code-line-height;
    text-align: center;
    font-size: 13px;
  }
}

.sg-code-box-display {
  position: absolute;
  top: -30px;
  right: 0;

  > button {
    border: 1px solid $gray6;
    background-color: $white;
    float: left;
    padding: 5px 12px;

    &:first-child {
      border-right: 0px;
    }

    &:hover {
      background-color: $gray5;
    }

    &:active {
      background-color: darken($gray5, 2%);
    }
  }
}

.sg-change-this {
  font-size: 14px;
  color: red;
}

.sg-icon {
  width: 32px;
  height: 32px;
  padding: 10px;
}
/*Section Specific*/

.sg-website-color,
.sg-ui-color {
  > h2 {
    margin: 40px 0px 32px 0px;
  }
}

.sg-color-combo {
  > div > section {
    padding: 10px;
    background-color: $gray6;
    float: left;
    margin: 0px 20px 20px 0px;
    width: 265px;
  }
}

/*Typo*/
.sg-typo-section {
  color: $purple-gray;
  
  > section {
    margin-bottom: 50px;
  }
}
.sg-typo-proxima {
  margin-right: 130px;
}

.sg-typo-proxima,
.sg-typo-montseraat {
  display: inline-block;
  float: left;
}

.sg-typo-proxima__regular {@include proxima(regular)};
.sg-typo-proxima__semibold {@include proxima(semibold)};
.sg-typo-montseraat__regular {@include montserrat(regular)};
.sg-typo-montseraat__semibold {@include montserrat(semibold)};

.sg-typo-proxima__regular,
.sg-typo-montseraat__regular {
  margin-right: 30px;
}

.sg-typo-proxima__regular,
.sg-typo-proxima__semibold,
.sg-typo-montseraat__regular,
.sg-typo-montseraat__semibold {
  float: left;

  > p {
    display: inline-block;
    font-size: 56px;
    line-height: 56px;
    margin: 0px;
  }

  > span {
    font-size: 16px;
    line-height: 16px;
    display: block;
  }
}

.sg-typo-test {
  display: block;
  line-height: 36px;
  font-size: 22px;
  color: $blue2;
}

.sg-typo-size,
.sg-typo-line-height {
  width: calc(50% - 20px);
  display: inline-block;
  float: left;
  padding: 20px;
}

.sg-typo-size {
  padding: 20px 20px 20px 0px;
}

.sg-typo-size-height {
  > p {
    margin: 0px 0px 10px;
  }
}

.sg-typo-line-height {
  padding: 20px 0px 20px 20px;
}

.sg-typo-heading-size {
  margin-top: 51px;

  > li {
    @include clearfix;
    margin: 10px 10px 10px 0px;

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }

    > div, > span {
      display: table-cell;
      vertical-align: middle;
    }
    > div {
      width: 280px;

    }
    > span {
      width: calc(100% - 280px);
      text-align: right;
      font-size: 16px;
    }
  }

  > .margin-bottom {
    margin-bottom: 25px;
  }
}

.sg-typo-alignment {
  > div {
    > span:first-child{
      float: left;
      font-size: 14px;
      color: $blue2;
      @include montserrat(regular);
    }

    > span:nth-child(2){
      float: right;
    }
  }
  
  > p {
    padding: 20px 0px;
    border: 1px solid $lightblue3;
    margin: 0px 0px 25px;
  }
}

.sg-type-list {
  > div {
    display: inline-block;
    float: left;
    width: 180px;
    margin-right: 20px;
  }
}

/*Alert*/
.sg-alert-container {
  .alert {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*Button*/
.sg-button-section {
  > .sg-content-box {
    > button {
      margin: 5px;
    }

    &.sg-normal-btn {
      > button {
        width: 140px;
      }
    }
  }
}

/*Close*/
.sg-close-section {
  > div {
    display: inline-block;
    padding: 10px;

    &:nth-child(2){
      background-color: #3f3c4e;
    }
  }
}
/*Popover*/
.sg-popover {

  > .popover {
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  > .popover.top {
    margin: 10px;
  }
}

.sg-popover-grey {
  background-color: grey;
  padding: 20px;

}

[data-content="popover-2"], 
[data-content="popover-3"],
[data-content="popover-4"],
[data-content="popover-5"]
 {
  > .popover {
    margin: 20px;
  }
}

/*Shadows*/
.sg-shadows, 
.sg-border-radius {
  > .sg-content-box > div {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-color: beige;
  }
}

.sg-border-radius {
  > .sg-content-box > div {
    border: 1px solid black;
  }
}

.sg-dark-container {
  background-color: #2c2a37;
  padding: 10px;
}

/*File Selector*/
.sg-file-selector {
  .sg-content-box {
    background-color: $light-purple-grey-02;
  }
}

/*ProgressBar*/
.sg-progressbar {
  .progress-bar {
    width: 50%;
  }
}

.sg-progressbar-set {
  .progress-bar {
    width: 50%;
  }
  > .progress {
    margin-bottom: 5px;
  }
}

.sg-tooltips {
  >.tooltip {
    opacity: 1;
    position: relative;
    padding: 5px;
    margin: 20px;
  }
}

/*Inputs*/
.sg-input-container {
  > div, > input {
    margin-bottom: 10px;
  } 
}

.sg-select-container {
  select {
    margin-bottom: 10px;
  }
}

/*Grid*
.sg-grid-layout {
  .row {
    margin-bottom: 10px;
  }

  [class*="col-"] {
    padding: 10px;
    background-color: beige;
    border: 1px solid green;
  }
}

/*Dropdown*/
.sg-dropdown-content {
  position: relative;
  text-align: center;

  > .dropdown {
    display: inline-block;
    background-color: #2c2a37;
    padding: 5px;
  }
}

/*Navbars*/
.styleguide-navbars {
  .navbar {
    img {
      border-radius: 2px;
    }
  }
}

/*Popover*/
.js-sg-popover-normal{
  .sg-content-box {
    height: 114px;
  } 
}

.js-sg-popover-footer {
  .sg-content-box {
    height: 204px;
  } 
}

.js-sg-popover-header {
  .sg-content-box {
    height: 150px;
  } 
}