@import "all";

input {
    outline: none;
}

.cancal {
    padding: 50px 0px;
    width:95%;
    margin: 0 auto;
    h1 {
        font-size: 30px;
    }
}

.cancal_total_point, .cancal_result, .cancal_point_guide {
    position: fixed;
    padding: 5px;
    font-size: 20px
}

.cancal_total_point {
    top: 50px;
    right: 50px;
    background-color: orange;
}

.cancal_result {
    top: 90px;
    right: 50px;
    background-color: aquamarine;
}

.cancal_point_guide {
    top: 140px;
    right: 50px;
    background-color: orange;
}

/*POINTS*/
.cancal_addnew_input {
    background-color: red;
    padding: 10px;
    display: none;
    &.active {
        display: block;
    }
}

.cancal_multichoice_check, .cancal_point_check {
    border-bottom: 1px solid rgba(darken(aquamarine, 50%), 0.4);

    > div {
        display: inline-block;
    }

    > div:first-child {
        width: 35%;
        margin-right: 3%;
        background-color: aquamarine;
        padding: 10px;

        >span {
            font-weight: bold;
            display: block;
        }
        > ul {
            font-size: 13px;
            padding-left: 20px;
            display: inline-block;
        }
    }
}

.cancal_point_negative {
    > div:first-child {
        background-color: rgba(red,0.5);
    }
}

.cancal_point_check {

    .close-label {
        background-color: red;
        padding: 0px 5px;
        display: inline-block;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        font-style: normal;
        margin-left: 10px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.cancal_multichoice_check {
    input + label {
        margin-right: 10px;
    }
}

label {
    display: inline-block;
    cursor: pointer;
}

form {

}