@import "all";



.cancal {
    padding-top: 40px;
    width:95%;
    margin: 0 auto;
    h1 {
        font-size: 20px;
    }
}
.cancal_total_point, .cancal_result {
    position: fixed;
    padding: 5px;
    font-size: 20px
}
.cancal_total_point {
    top: 50px;
    right: 50px;
    background-color: orange;
}
.cancal_result {
    top: 90px;
    right: 50px;
    background-color: aquamarine;
}

.cancal_addnew_input {
    background-color: red;
    padding: 10px;
    display: none;
    &.active {
        display: block;
    }
}

label {
    display: inline-block;
    cursor: pointer;
    border: 1px solid red;
    margin: 2px 2px;

    + .close-label {
        background-color: red;
        padding: 0px 5px;
        display: inline-block;
        cursor: pointer;
        color: white;
        border-radius: 50%;
    }
}

form {
    margin: 5px 0px;
}