
$lightblue: #F6F9FC;
$lightblue2: #8497AB;
$blue: #71B0EF;
$gray1: #6F6F6F;
$gray2: #849AB0;
$gray3: #BCBCBC;

$sg-sidebar-padding: 8px;
$sg-button-list--inner-padding-btm: 20px;

/*Resets*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0px;  
  padding: 0px;

  &:focus {
    outline: none;
  }
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.sg-sidebar {
  // background-color: $lightblue;
  background-color: $lightblue;
  width: calc(275px - 60px);
  display: inline-block;
  float: left;
  min-height: 100vh;
  padding: 30px;

  h1, h2 {
    margin: 0px 0px 10px 0px;
  }

 h1 {
    font-size: 34px;
    color: $gray1;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 18px;
    color: $blue;
    margin-bottom: 8px;
    padding-left: $sg-sidebar-padding;
  }

  > span {
    font-size: 14px;
    margin-bottom: 40px;
    display: block;
    color: $gray3;
  }

  ul > li {
    display: inline-block;
    width: 100%;
  }

  button, label {
    width: 100%;
    text-align: left;
    color: $gray1;
    margin: 8px 0px;
  }

  > button {
    padding-left: $sg-sidebar-padding;
    border-left: 2px solid transparent;
  }
}

.sg-brand-kit {
  margin-bottom: 30px;
}

.sg-main-container {
  width: calc(100% - 275px - 65px);
  display: inline-block;
  float: left;
  position: relative;
  opacity: 1;
  top: 0px;
  transition: top 0.3s ease, opacity 0.3s ease;
  padding: 100px 0px 0px 65px;

  &.slide-out {
    top: 10px;
    opacity: 0;
  }
}

.sg-dropdown {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    width: 100%;
    display: inline-block;
  }

  input:checked ~ .sg-button-list--inner {
    max-height: 544px;
    padding-bottom: $sg-button-list--inner-padding-btm;
  }
}

.sg-button-list--outer {
  > li {
    > button, > label {
      border-left: 2px solid transparent;
      padding-left: $sg-sidebar-padding;
    }
  }

  > li.active {
    > button,  
    > input:checked ~ label {
      border-left: 2px solid $blue;
      color: $gray2;
    }
  }
}

.sg-button-list--inner {
  max-height: 0;
  float: left;
  overflow: hidden;
  display: inline-block;
  padding-left: 20px;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  width: 100%;
 

  > li {
    padding-left: 20px;
    position: relative;

    /*List Item - Circle*/
    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      left: 8px;
      top: 14px;
      border-radius: 50%;
      background-color: $lightblue2;
    }

    &.active--inner { 
      > button {
        color: $gray2;
      }
    }
  }
}

.sg-contents {
  display: none;
}

