* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/*Equal Height*/
.eq-height {
  overflow: hidden; }
  .eq-height .eq-height-col {
    margin-bottom: -99999px;
    padding-bottom: 99999px; }

/*Back Button*/
.back-button {
  position: fixed;
  top: 0px;
  background-color: #f0f0f0;
  padding: 5px;
  z-index: 99999; }

.wrapper {
  background: url(../day3/bg.png) no-repeat;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  display: table; }

.table-container {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  height: 100%; }

.container {
  width: 75%;
  margin: 0 auto;
  border: 1px solid red; }

.panel__contact {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  float: left;
  margin: 20px 0px; }

.panel__dial {
  background-color: white;
  width: 50%;
  float: right;
  padding: 50px 0px; }

.num__display {
  padding: 20px 0px; }

.num__dial .num__pads {
  width: calc(100% / 3);
  display: inline-block;
  float: left;
  display: table;
  border: 1px solid red;
  height: 100px; }
  .num__dial .num__pads > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .num__dial .num__pads > span span {
      display: block; }
