/////////////////////////////////////////////
////// Alerts
////// 01 Base
////// 02 Dismissible Alerts
////// 03 Alerts Size
////// 04 Alternate Styles
////// 05 Information
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
$alert-padding:                15px !default;

$alert-success-bg:             $brand-success !default;
$alert-success-text:           $text-color !default;

$alert-info-bg:                $brand-info !default;
$alert-info-text:              $text-color !default;

$alert-warning-bg:             $brand-warning !default;
$alert-warning-text:           $text-color !default;

$alert-danger-bg:              $brand-danger !default;
$alert-danger-text:            $text-color !default;

$alert-danger-attention-bg:    $brand-danger !default;
$alert-danger-attention-text:  $text-color !default;

.alert {
  padding: $alert-padding;
  border: 1px solid transparent;
  position: relative;
  font-size: 13px;
  word-wrap: break-word;
  @include border-radius();

  .alert-title {
    @include proxima(semibold);
  }
}

/**=====================================**/
/* 02 Size Variation */
/**=====================================**/

.alert-nonfullwidth {
  text-align: center;
  width: 60%;
  margin: auto;

  span {
    font-weight: bold;
  }
}

.alert-sm {
  padding: 5px 10px;
  font-size: $font-size-small;
}

/**=====================================**/
/* 03 Dismissible Alerts */
/**=====================================**/
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ($alert-padding + 20);
  
  // Adjust close link position
  .close {
    @include relative(top 2px right -21px);
    position: relative;
    top: 2px;
    right: -21px;
    color: $light-purple-grey-03;
    opacity: 1;
    float: right;
    
    &:hover {
      opacity: 0.5;
    }
  }
}

/**=====================================**/
/* 04 Alternate Styles */
/**=====================================**/
// Generate contextual modifier classes for colorizing the alert.
@mixin alert-constructor ($background, $text-color) {
  background-color: $background;
  color: $text-color;

  hr {
    border-top-color: darken($background, 5%);
  }

  a {
    @include generate-link($magenta-combo);
  }
}

.alert-success {
  @include alert-constructor ($brand-success, $text-color);
}

.alert-info {
  @include alert-constructor ($brand-info, $text-color);
}

.alert-warning {
  @include alert-constructor ($brand-warning, $text-color);
}

.alert-attention {
  @include alert-constructor ($brand-attention, $text-color);
}

.alert-danger {
  @include alert-constructor ($brand-danger, $text-color-white);
}

/**=====================================**/
/* 05 Alert with Notification with Arrow*/
/**=====================================**/
.alert-arrow {
  &:before {
    content:"";
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent $brand-danger transparent;
    display: block;
    top: -12px;
    left: 10px;
    position: absolute;
  }
}
