/////////////////////////////////////////////
////// Alerts
////// 01 Base
////// 02 Dismissible Alerts
////// 03 Alerts Size
////// 04 Alternate Styles
////// 05 Information
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
$alert-padding:             15px !default;


.alert {
  padding: $alert-padding;
  margin: 0 0 10px;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  position: relative;
  font-size: 13px;
  word-wrap: break-word;

  .alert-title {
    font-family: $proxima-nova-semibold;
  }

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-family: $proxima-nova-semibold;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
}

.alert-dashboard {
  position: absolute;
  @include horizontal-center;
  text-align: center;
  width: 60%;
  max-width: 700px;
}

.alert-nonfullwidth {
  text-align: center;
  width: 60%;
  margin: auto;

  span {
    font-weight: bold;
  }
}

/**=====================================**/
/* 02 Dismissible Alerts */
/**=====================================**/
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ($alert-padding + 20);
  
  // Adjust close link position
  .close {
    @include relative(top 2px right -21px);
    color: $light-purple-grey-03;
    opacity: 1;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

/**=====================================**/
/* 03 Alerts Size */
/**=====================================**/
.alert-sm {
  padding: 5px 10px;
  font-size: $font-size-small;
}

/**=====================================**/
/* 04 Alternate Styles */
/**=====================================**/
// Generate contextual modifier classes for colorizing the alert.
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($background, 5%);
  }

  a {
    @include attention-link;
  }
}

.alert-success {
  @include alert-variant($alert-success-bg, $alert-no-border, $alert-success-text);
}

.alert-info, .alert-notice {
  @include alert-variant($alert-info-bg, $alert-no-border, $alert-info-text);
}

.alert-warning, .alert-alert {
  @include alert-variant($alert-warning-bg, $alert-no-border, $alert-warning-text);
}

.alert-danger, .alert-error {
  @include alert-variant($alert-danger-bg, $alert-no-border, $alert-danger-text);
}

.alert-danger-attention {
  @include alert-variant($alert-danger-attention-bg, $alert-no-border, $alert-danger-attention-text);
}
