/////////////////////////////////////////////
////// Alerts
////// 01 Base
////// 02 Dismissible Alerts
////// 03 Alerts Size
////// 04 Alternate Styles
////// 05 Information
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
$alert-padding:             15px !default;

.alert {
  padding: $alert-padding;
  border: 1px solid transparent;
  position: relative;
  font-size: 13px;
  word-wrap: break-word;
  @include border-radius;

  .alert-title {
    @include proxima(semibold);
  }
}

.alert-dashboard {
  position: absolute;
  @include horizontal-center;
  text-align: center;
  width: 60%;
  max-width: 700px;
}

.alert-nonfullwidth {
  text-align: center;
  width: 60%;
  margin: auto;

  span {
    font-weight: bold;
  }
}

/**=====================================**/
/* 02 Dismissible Alerts */
/**=====================================**/
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ($alert-padding + 20);
  
  // Adjust close link position
  .close {
    @include relative(top 2px right -21px);
    position: relative;
    top: 2px;
    right: -21px;
    color: $light-purple-grey-03;
    opacity: 1;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

/**=====================================**/
/* 03 Alerts Size */
/**=====================================**/
.alert-sm {
  padding: 5px 10px;
  font-size: $font-size-small;
}

/**=====================================**/
/* 04 Alternate Styles */
/**=====================================**/
// Generate contextual modifier classes for colorizing the alert.
@mixin alert-variant($background, $text-color) {
  background-color: $background;
  color: $text-color;

  hr {
    border-top-color: darken($background, 5%);
  }

  a {
    @include generateLink($magenta-combo);
  }
}

.alert-success {
  @include alert-variant($brand-success, $text-color-dark);
}

.alert-info, .alert-notice {
  @include alert-variant($brand-info, $text-color-dark);
}

.alert-warning, .alert-alert {
  @include alert-variant($brand-warning, $text-color-dark);
}

.alert-attention, .alert-error {
  @include alert-variant($brand-attention, $text-color-dark);
}

.alert-danger {
  @include alert-variant($brand-danger, $text-color-light);
}
