/////////////////////////////////////////////
////// Badges & Tags
////// 01 Base
////// 02 Third Party Social Login
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: $font-size-small;
  font-weight: $badge-font-weight;
  color: $badge-color;
  line-height: $badge-line-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $badge-bg;
  border-radius: $badge-border-radius;
  border: 1px solid $badge-border-color;
  
  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .pikto-btn & {
    position: relative;
    top: -1px;
  }

  .pikto-btn-xs &,
  .btn-group-xs > .pikto-btn & {
    top: 0;
    padding: 1px 5px;
  }

  // [converter] extracted a& to a.badge
  // Account for badges in navs
  
  .list-group-item.active > &,
  .nav-pills > .active > a > & {
    color: $badge-active-color;
    background-color: $badge-active-bg;
  }

  .list-group-item > & {
    float: right;
  }

  .list-group-item > & + & {
    margin-right: 5px;
  }

  .nav-pills > li > a > & {
    margin-left: 3px;
  }
}

// Hover state, but only for links
a.badge {
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

/**=====================================**/
/* 02 Third Party Social Login */
/**=====================================**/
.gplus-login {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $white;
  background-color: $gplus-color;
  @include border-radius(3px);
  display: inline-block;
  padding-right: 15px;

  i {
    background-color: $gplus-whiteiconbg-color;
    @include border-radius;
    margin: 1px 12px 1px 1px;
  }
}
