/////////////////////////////////////////////
////// Breadcrumbs
////// 01 Base
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
$breadcrumb-separator:          "/" !default;

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: $grey-alternate-3a;
  @include border-radius;

  > li {
    display: inline-block;

    + li:before {
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0"; 
      
      // Unicode space added since inline-block means non-collapsing white-space
      content: "#{$breadcrumb-separator}#{$nbsp}"; 
      padding: 0 5px;
      color: $grey-alternate-6;
    }
  }

  > .active {
    color: $teal;
  }
}
