/////////////////////////////////////////////
////// Buttons (all the button class name (except button groups) is being modified from the boostrap by adding a pikto- in front of them)
////// 01 Base
////// 02 Alternate Buttons
////// 03 Link Buttons
////// 04 Button Sizes
////// 05 Block Button
////// 06 Pikto Add-on Buttons
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
.pikto-btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-color: $grey;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: normal;

  /*DEFAULT*/
  padding: 6px 12px;
  font-size: 14px;
  color: $dark-purple-grey-03;

  @include border-radius;
  @include user-select(none);
  @include pikto-transition(all);

  &,
  &:active {
    &:focus {
      @include tab-focus;
    }
  }

  &:focus {
    background-color: inherit;
  }

  &:hover {
    background-color: $grey-darker;
    color: #333333;
    text-decoration: none;
  }

  &:active {
    outline: 0;
    background-image: none;
    @include inset-shadow;
    position: relative;
    top: 1px;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    cursor: $cursor-disabled;
    @include opacity(0.4);
    @include box-shadow(none);
  }

  > [class*=" icon-"] {
    display: inline;
    margin-right: 4px;
  }
}

//this is for input which has .pikto-btn class, but this quick fix has lost the box-shadow when the button is on active state
input.pikto-btn { 
  &:focus,
  &.focus {
    box-shadow: none;
  }
}

/**=====================================**/
/* 01 Button Constructor */
/**=====================================**/
/*Constructor*/
@mixin button-constructor($textColor, $textColorActive, $backgroundColor, $borderColor:transparent){
  background-color: map-get($backgroundColor, 'col-1');
  color: $textColor;
  border-color: $borderColor;

  &:focus {
    background-color: map-get($backgroundColor, 'col-1');;
  }

  &:hover {
    background-color: map-get($backgroundColor, 'col-2');
    color: $textColor;
  }

  &:active,
  &.active {
    background-color: map-get($backgroundColor, 'col-3');
    color: $textColorActive;
  }
}

@mixin outline($color){
  border: 1px solid $color;

  &:active {
    @include no-shadow;
  }
}
/**=====================================**/
/* 02 Button Color Variations */
/**=====================================**/
.pikto-btn-teal {
  @include button-constructor($white, $white, $teal-combo);
}
.pikto-btn-magenta {
  @include button-constructor($white, $white, $magenta-combo);
}
.pikto-btn-lightgrey {
  @include button-constructor($dark-purple-grey-03, $white, $lightgrey-combo);
}
.pikto-btn-purplegrey {
  @include button-constructor($white, $white, $purplegrey-combo);
}
.pikto-btn-grey {
  @include button-constructor($white, $white, $grey-combo);
}
.pikto-btn-red {
  @include button-constructor($white, $white, $red-combo);
}
.pikto-btn-option {
  @include button-constructor($dark-purple-grey-03, $dark-purple-grey-03, $grey-2-combo);
  @include outline($grey-dark);
}
.pikto-btn-bluegrey-outline {
  @include button-constructor($white, $white, $bluegrey-outline-combo);
  @include outline($light-purple-grey-04);
}
.pikto-btn-success {
  @include button-constructor($dark-purple-grey-03, $dark-purple-grey-03, $success-combo);
}
.pikto-btn-info {
  @include button-constructor($dark-purple-grey-03, $dark-purple-grey-03, $info-combo);
}
.pikto-btn-warning {
  @include button-constructor($dark-purple-grey-03, $dark-purple-grey-03, $warning-combo);
}
.pikto-btn-danger {
  @include button-constructor($dark-purple-grey-03, $dark-purple-grey-03, $danger-combo);
}

/**=====================================**/
/* Full Width Block */
/**=====================================**/
.pikto-btn-block {
  display: block;
  width: 100%;
}
// Vertically space out multiple block buttons
.pikto-btn-block + .pikto-btn-block {
  margin-top: 5px;
}

/**=====================================**/
/* Inline Icon Btn */
/**=====================================**/
.pikto-btn-icon {
  padding: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  @include border-radius();

  > i {
    top: 0px;
  }

  > span {
    line-height: 32px;
    display: inline-block;
    position: relative;
    top: 1px
  }

  > span:nth-child(1) {
    margin-left: 10px;
  }

  > span:nth-child(2) {
    margin-right: 10px;
  }
}

.pikto-btn-inline-icon {
  padding: 0;
  border-width: 0;
  display: inline-flex;
  align-items: center;

  > i, > img {
    top: 0;
    margin: 1px;
    @include border-radius();
  }
  
  > span {
    display: inline-block;
    width: 100px;
  }

  > .pikto-btn-icon {
    width: 30px;
    height: 30px;
    margin: 1px;
  }
}

.pikto-btn-inline-icon--bordered {
  > .pikto-btn-icon {
    @include border-radius-removal();
    border-right: 1px solid darken($teal, 5%);
    width: 32px;
    height: 32px;
    margin: 0px;
  }
} 

/**=====================================**/
/* Button Sizes */
/**=====================================**/

$wide-pd-hor: 20px;

@mixin button-size-constructor ($padding-vertical, $padding-horizontal, $font-size) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;

  &.wide {
    padding: $padding-vertical calc(#{$padding-horizontal} + #{$wide-pd-hor});
  }
}

.pikto-btn-xl {
  @include button-size-constructor (16px, 28px, 22px);
}

.pikto-btn-lg {
  @include button-size-constructor (10px, 16px, 18px);
}

.pikto-btn-md {
  @include button-size-constructor (8px, 16px, 16px);
}

.pikto-btn-sm {
  @include button-size-constructor (5px, 10px, 12px);
}

.pikto-btn-xs {
  @include button-size-constructor (2px, 5px, 10px);
}

.gplus-login {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $white;
  background-color: $gplus-color;
  @include border-radius;
  display: inline-block;
  padding-right: 15px;

  i {
    background-color: $gplus-whiteiconbg-color;
    @include border-radius;
    margin: 1px 12px 1px 1px;
  }
}

/**=====================================**/
/* 07 Btn Hover Dropdowns */
/**=====================================**/
.pikto-btn-hover {
  position: relative;
  display: inline-block;
  
  &:hover {
    .pikto-btn-hover-panel {
      display: flex;
      -webkit-animation: fade-in .2s linear 1, move-down .2s linear 1;
      -moz-animation: fade-in .2s linear 1, move-down .2s linear 1;
      -ms-animation: fade-in .2s linear 1, move-down .2s linear 1;
      animation-fill-mode: forwards;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.pikto-btn-hover-panel {
  z-index: 1;
  position: absolute;
  display: none;
  left: -1px;
  top: 32px;
}