/*Variables -- Fonts*/
@import "proxima-nova";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700");

$proxima-regular:   "ProximaNova-Regular", Arial, sans-serif !default;
$proxima-semibold:  "ProximaNova-Semibold", Arial, sans-serif !default;
$proxima-bold:      "ProximaNova-Bold", Arial, sans-serif !default;
$source-code-pro:   "Source Code Pro", monospace !default; 
$montserrat:        "Montserrat", Arial, sans-serif !default;

$base-font-size:    14px;

/*Mixins -- Fonts*/
@mixin montserrat ($weight) {
  font-family: $montserrat;

  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'semibold'{
    font-weight: 700;
  }
  @if $weight == 'bold'{
    font-weight: 900;
  }  
}

@mixin proxima ($weight){
  @if $weight == 'regular'{
    font-family: $proxima-regular;
  } 
  @if $weight == 'semibold'{
    font-family: $proxima-semibold;
  } 
  @if $weight == 'bold'{
    font-family: $proxima-ibold;
  }
}

@mixin sourceCode ($weight){
  font-family: $source-code-pro;
  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'bold'{
    font-weight: 600;
  }
  @if $weight == 'bolder'{
    font-weight: 900;
  }
}

/*Code*/
h1, h2, h3, h4, h5, h6, p {
  color: inherit;
  line-height: normal;
  margin: 0px;
}

p {
  line-height: 20px;
  font-size: $base-font-size;
}

/*Font-sizes*/
.h1 { font-size: 32px; }
.h2 { font-size: 28px; }
.h3 { font-size: 24px; }
.h4 { font-size: 20px; }
.h5 { font-size: 16px; }
.h6 { font-size: 14px; }

/*Alignment*/
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/*Text Transform*/
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/*Hyperlinks*/
@mixin generateLink($combo){
  color: map-get($combo, 'col-1');

  &:hover {
    color: map-get($combo, 'col-2');
  }

  &:active {
    color: map-get($combo, 'col-3');
  }
}

.general-link, .attention-link, .title-link, .meta-link{
  cursor: pointer;
  display: inline-block;
}

.general-link {
  @include generateLink($teal-combo);
}
.magenta-link {
  @include generateLink($magenta-combo);
}

// .attention-link{
//   @include attention-link;
// }

// .title-link{
//   @include title-link;
// }

// .meta-link{
//   @include meta-link;
// }

