/*Variables -- Fonts*/
@import "proxima-nova";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700");

$proxima-regular:   "ProximaNova-Regular", Arial, sans-serif !default;
$proxima-semibold:  "ProximaNova-Semibold", Arial, sans-serif !default;
$proxima-bold:      "ProximaNova-Bold", Arial, sans-serif !default;
$source-code-pro:   "Source Code Pro", monospace !default; 
$montserrat:        "Montserrat", Arial, sans-serif !default;

$font-size-xlarge:       22px;
$font-size-large:        18px;
$font-size-medium:       16px;
$font-size-base:         14px;
$font-size-small:        12px;
$font-size-xsmall:       10px;

$font-weight-base:        400 !default;
// Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
$line-height-medium:      1.8; //for paragraphs ex: acc. settings, pricing FAQs
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

/*Mixins -- Fonts*/
@mixin montserrat ($weight) {
  font-family: $montserrat;

  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'semibold'{
    font-weight: 700;
  }
  @if $weight == 'bold'{
    font-weight: 900;
  }  
}

@mixin proxima ($weight){
  @if $weight == 'regular'{
    font-family: $proxima-regular;
  } 
  @if $weight == 'semibold'{
    font-family: $proxima-semibold;
  } 
  @if $weight == 'bold'{
    font-family: $proxima-ibold;
  }
}

@mixin sourceCode ($weight){
  font-family: $source-code-pro;
  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'bold'{
    font-weight: 600;
  }
  @if $weight == 'bolder'{
    font-weight: 900;
  }
}

/*Mixins -- Font Sizes*/
@mixin h1 {font-size: 32px;}
@mixin h2 {font-size: 28px;}
@mixin h3 {font-size: 24px;}
@mixin h4 {font-size: 20px;}
@mixin h5 {font-size: 16px;}
@mixin h6 {font-size: 12px;}
@mixin small-text {font-size: 10px;}

@mixin base-size {font-size: 14px;}

/*Code*/
h1, h2, h3, h4, h5, h6, p {
  color: inherit;
  line-height: normal;
  margin: 0px 0px 10px;
}

p {
  line-height: 20px;
  font-size: $font-size-base;
}

strong {
  @include proxima(semibold);
}

/*Font-sizes*/
.h1 { @include h1; }
.h2 { @include h2; }
.h3 { @include h3; }
.h4 { @include h4; }
.h5 { @include h5; }
.h6 { @include h6; }
.small-text {@include small-text;}

/*Alignment*/
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/*Text Transform*/
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/*Links*/
@mixin generate-link($combo) {
  cursor: pointer;
  display: inline-block;
  
  color: map-get($combo, 'col-1');

  &:hover {
    color: map-get($combo, 'col-2');
  }

  &:active {
    color: map-get($combo, 'col-3');
  }
}

.general-link {
  @include generate-link($teal-combo);
}

.attention-link {
  @include generate-link($magenta-combo);
}

.title-link {
  @include generate-link($grey-2-combo);
}

.meta-link {
  @include generate-link($purplegrey-2-combo);
}

.pikto-link {
  @include generate-link($pikto-link-combo);
}

.grey-teal-link {
  @include generate-link($grey-teal-combo);
}

/*Lists - By default, ul's and ol's properties are overwritten, this brings the decimal and the disc back*/
.pikto-ordered-list {
  list-style-type: decimal;
}

.pikto-unordered-list {
  list-style-type: disc;
}

.pikto-ordered-list,
.pikto-unordered-list {
  display: block;
  padding-left: 15px;
}