////border-radius////
$default-base-radius: 2px;

@mixin border-radius($side:"all", $radius:$default-base-radius) {
  @if $side == 'all'{
    border-radius: $radius;
  } @else if $side == 'top' {
    border-radius: $radius $radius 0 0;
  } @else if $side == 'bottom' {
    border-radius: 0 0 $radius $radius;
  } @else if $side == 'left' {
    border-radius: $radius 0 0 $radius;
  } @else if $side == 'right' {
    border-radius: 0 $radius $radius 0;
  } @else if $side == 'top-left' {
    border-radius: $radius 0 0 0;
  } @else if $side == 'top-right' {
    border-radius: 0 $radius 0 0;
  } @else if $side == 'bottom-right' {
    border-radius: 0 0 $radius 0;
  } @else if $side == 'bottom-left' {
    border-radius: 0 0 0 $radius;
  }
}

//@include border-radius()            --> all border-radius = 2px;
//@include border-radius("top")       --> top border-radius = 2px;
//@include border-radius("top", 3px)  --> top-right and top-left border-radius = 3px;

@mixin border-radius-special($properties...) {
  border-radius: $properties;
}

@mixin border-radius-removal($side:"all") {
  @if $side == 'all'{
    border-radius: 0;
  } @else if $side == 'top' {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } @else if $side == 'bottom' {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  } @else if $side == 'left' {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  } @else if $side == 'right' {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/*Mixin*/
@mixin border-radius-6 {
  @include border-radius("all", 6px);
}
@mixin border-radius-4 {
  @include border-radius("all", 6px);
}

/*Class*/
.border-radius-6 {
  @include border-radius-6
}
.border-radius-4 {
  @include border-radius-4;
}
.border-radius-2 {
  @include border-radius;
}