/*Variables*/
$black:                 #000;
$white:                 #fff;

//Teal - Primary Colors
$teal:                  #1cafa2 !default; //base
$teal-dark:             #158379 !default; //darken($teal, 10%) !default;
$teal-darker:           #127169 !default; //darken($teal, 14%) !default;

//Magenta - Secondary Colors
$magenta:               #f16078 !default;
$magenta-dark:          #cb3f56 !default;
$magenta-darker:        #a12e41 !default;

//Lighter grey
$grey:                  #e8e8e8 !default; 
$grey-lighter:          #fafafa !default; 
$grey-light:            #f0f0f0 !default; 
$grey-dark:             #d8d8d8 !default; 
$grey-darker:           #c2c2c2 !default; 
$grey-darkest:          #828282 !default; 

$grey-alternate-1:      #f9f9f9 !default; // hsb(0 ,0, 98)
$grey-alternate-2:      #f1f1f1 !default; // hsb(0 ,0, 95)
$grey-alternate-3:      #f3f3f3 !default; // hsb(0 ,0, 95)
$grey-alternate-3a:     #f5f5f5 !default; // hsb(0 ,0, 96)
$grey-alternate-3b:     #e4e4e4 !default; // hsb(0 ,0, 89)
$grey-alternate-3c:     #dddddd !default; // hsb(0 ,0, 87)
$grey-alternate-4:      #dadada !default; // hsb(0 ,0, 85)
$grey-alternate-5:      #d3d3d3 !default; // hsb(0 ,0, 83)
$grey-alternate-6:      #cccccc !default; // hsb(0 ,0, 80)
$grey-alternate-7:      #999999 !default; // hsb(0 ,0, 60)

//Teal-ish kind of grey
$teal-grey:             #485456 !default; // hsb(189 ,16, 34)
$teal-grey-light:       #93a2a4 !default; // hsb(187 ,10, 64)
$teal-grey-lighter:     #eaf2ef !default; // hsb(158 ,3, 95)

//Blue-ish kind of gray
$light-blue-grey-01:    #f1f4f5 !default; // hsb(195, 2, 96)
$light-blue-grey-02:    #f0f6f7 !default; // hsb(189 ,3, 97) Also known as BabyBlue
$light-blue-grey-03:    #ebf5f7 !default; // hsb(190 ,5, 97)
$light-blue-grey-04:    #e1ebed !default; // hsb(190 ,5, 93)
$light-blue-grey-05:    #d5e6ea !default; // hsb(191 ,9, 92)
$light-blue-grey-06:    #d2e0e3 !default; // hsb(191 ,5, 89)
$light-blue-grey-07:    #c6d6da !default; // hsb(192 ,9, 85)
$light-blue-grey-08:    #c6d6d9 !default; // hsb(189 ,9, 85)
$light-blue-grey-09:    #c0d1d4 !default; // hsb(189 ,9, 83)

//Dark Blue-ish kind of gray
$dark-blue-grey-01:     #1e2527 !default; // hsb(193, 23, 15)
$dark-blue-grey-02:     #232b2d !default; // hsb(192 ,22, 18)
$dark-blue-grey-03:     #2b3436 !default; // hsb(191, 20, 21)
$dark-blue-grey-04:     #313b3d !default; // hsb(190, 20, 24)
$dark-blue-grey-05:     #809a9f !default; // hsb(190, 20, 62)
$dark-blue-grey-06:     #809A9C !default; // hsb(184, 18, 61)


//Dark Purple-ish kind of grey
$dark-purple-grey-01:   #1e1d26 !default; // hsb(247, 24, 15)
$dark-purple-grey-02:   #2a2834 !default; // hsb(250, 23, 20)
$dark-purple-grey-03:   #2c2a37 !default; // hsb(249, 24, 22)
$dark-purple-grey-04:   #322E42 !default; // hsb(252, 30, 26)
$dark-purple-grey-05:   #373544 !default; // hsb(248, 22, 27)
$dark-purple-grey-06:   #3f3d48 !default; // hsb(251, 15, 28)
$dark-purple-grey-07:   #3f3c4e !default; // hsb(250, 23, 31)
$dark-purple-grey-08:   #4b475c !default; // hsb(251, 23, 36)

$dark-purple-grey-08b:  #514b6d !default;
$dark-purple-grey-09:   #2f2b41 !default;
$dark-purple-grey-10:   #6C677B !default;

//Light Purple-ish kind of grey
$light-purple-grey-01:  #413d49 !default;
$light-purple-grey-02:  #474456 !default;
$light-purple-grey-03:  #5d5a6b !default;
$light-purple-grey-04:  #666470 !default;
$light-purple-grey-05:  #777483 !default;
$light-purple-grey-06:  #8e89a4 !default;
$light-purple-grey-07:  #bcbac7 !default;

//Social Media Colors
$fb-color:                  #5272af;
$gplus-color:               #4285F4;
$gplus-whiteiconbg-color:   $white;
$gplus-rediconbg-color:     #DC4E41;
$twitter-color:             #60a8dc;
$pinterest-color:           #ca2127;

//Misc
$orange:                #fc6940;    // rgb(252, 105, 64)
$mercury-grey:          #dde2e8;   //  hsb(213, 5, 91);

$light-green:           #d8e9c6;
$light-green-dark:      #bfdba1;
$light-green-darker:    #b0d28b;

$light-blue:            #c3e0e3;
$light-blue-dark:       #a0ced3;
$light-blue-darker:     #8bc3c9;

$light-yellow:          #f3eeae;
$light-yellow-dark:     #ece582;
$light-yellow-darker:   #e8df67;

$light-red:             #f8c8c8;
$light-red-dark:        #f75353;
$light-red-darker:      #f53636;
$light-red-2:           #f98484;

$red:                   #C64135 !default;
$red-dark:              #AC3125 !default;
$red-darker:            #8F2218 !default;