////border-radius////
$default-base-radius: 2px;

@mixin border-radius($side:"all", $radius:$default-base-radius) {
  @if $side == "all"{
    border-radius: $radius;
  } @else if $side == "top" {
    border-radius: $radius $radius 0px 0px;
  } @else if $side == "bottom" {
    border-radius: 0px 0px $radius $radius;
  } @else if $side == "left" {
    border-radius: $radius 0px 0px $radius;
  } @else if $side == "right" {
    border-radius: 0px $radius $radius 0px;
  } @else if $side == "top-left" {
    border-radius: $radius 0px 0px 0px;
  } @else if $side == "top-right" {
    border-radius: 0px $radius 0px 0px;
  } @else if $side == "bottom-right" {
    border-radius: 0px 0px $radius 0px;
  } @else if $side == "bottom-left" {
    border-radius: 0px 0px 0px $radius;
  }
}

@mixin border-radius-removal($side:"all"){
  @if $side == "all"{
    border-radius: 0px;
  } @else if $side == "top" {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  } @else if $side == "bottom" {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  } @else if $side == "left" {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  } @else if $side == "right" {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/*Mixin*/
@mixin border-radius-6 {
  @include border-radius("all", 6px);
}
@mixin border-radius-4 {
  @include border-radius("all", 6px);
}

/*Class*/
.border-radius-6 {
  @include border-radius-6
}
.border-radius-4 {
  @include border-radius-4;
}
.border-radius-2 {
  @include border-radius;
}