/*Variables -- Fonts*/
@import "proxima-nova";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700");

$proxima-regular:   "ProximaNova-Regular", Arial, sans-serif !default;
$proxima-semibold:  "ProximaNova-Semibold", Arial, sans-serif !default;
$proxima-bold:      "ProximaNova-Bold", Arial, sans-serif !default;
$source-code-pro:   "Source Code Pro", monospace !default; 
$montserrat:        "Montserrat", Arial, sans-serif !default;

/*Mixins -- Fonts*/
@mixin montserrat ($weight) {
  font-family: $montserrat;

  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'semibold'{
    font-weight: 700;
  }
  @if $weight == 'bold'{
    font-weight: 900;
  }  
}

@mixin proxima ($weight){
  @if $weight == 'regular'{
    font-family: $proxima-regular;
  } 
  @if $weight == 'semibold'{
    font-family: $proxima-semibold;
  } 
  @if $weight == 'bold'{
    font-family: $proxima-ibold;
  }
}

@mixin sourceCode ($weight){
  font-family: $source-code-pro;
  @if $weight == 'light'{
    font-weight: 100;
  } 
  @if $weight == 'regular'{
    font-weight: 400;
  } 
  @if $weight == 'bold'{
    font-weight: 600;
  }
  @if $weight == 'bolder'{
    font-weight: 900;
  }
}

/*Code*/
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: normal;
  margin: 0px;
}