/////////////////////////////////////////////
////// Labels
////// 01 Base
////// 02 Colors
////// 03 Pikto Add-on Label
//////////// 03a New, Coming Soon, Beta Label
//////////// 03b LVLUP Label
//////////// 03c LVLUP CTA Box
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
.label {
  display: inline-block;
  padding: 2px 6px 3px; 
  font-family: $proxima-semibold;
  line-height: normal;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: uppercase;

  @include small-text
  @include border-radius("all", 4px);

  // [converter] extracted a& to a.label

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}

/**=====================================**/
/* 02 Colors */
/**=====================================**/
// Contextual variations (linked labels get darker on :hover)
@mixin label-variant($color) {
  background-color: $color;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

.label-default {
  @include label-variant($light-purple-grey-04);
}

.label-primary    { @include label-variant($brand-primary); }
.label-secondary  { @include label-variant($brand-secondary); }
.label-success    { @include label-variant($brand-success); }
.label-info       { @include label-variant($brand-info); }
.label-warning    { @include label-variant($brand-warning); }
.label-danger     { @include label-variant($brand-danger); }

/**=====================================**/
/* 03 Pikto Add-on Label */
/**=====================================**/
/* 03a New, Coming Soon, Beta Label */
/**=====================================**/

.label-beta, .label-pro {
  color: $dark-blue-grey-06;
}

/**=====================================**/
/* 03b LVLUP Label */
/**=====================================**/

.label-levelup {
  text-transform: uppercase;
  z-index: 3;

  /* Content of the button. */
  &:before {
    content: "level up";
    text-transform: uppercase;
    cursor: pointer;
  }
}

/**=====================================**/
/* 03c LVLUP CTA Box */
/**=====================================**/
.label-infopanel {
  background-color: $teal-grey-lighter;
  padding: 20px;
  position: relative;
  @include border-radius;;

  .icon-cross-darkpurple-small {
    cursor: pointer;
    top: 0px;
    right: 0px;
    position: absolute;

    &:hover {
      opacity:0.5;
    }
  }
}