/////////////////////////////////////////////
////// Modals
////// 01 Base
////// 02 Actual Modal
////// 03 Measure Scrollbar Width for Padding Body During Modal Show/Hide
////// 04 Scale Up the Modal & Modal Sizes
////// 05 Pikto Modal
//////////// 05a Types of Default Modal (without header, without footer, without header & footer)
//////////// 05b Function Modal (publish, export, download, piktocard...)
//////////// 05c Payment Modal (related to payment)
//////////// 05d Tool Modal (maps, charts)
//////////// 05e Preview Modal (with leftright arrow)
//////////// 05f Tool & Preview Modal Sharing Elements
/**to be check & cleared after coding the  plans layout**/
//////////// 05g Modals in share settings and delete account
/////////////////////////////////////////////

/**=====================================**/
/* 01 Base */
/**=====================================**/
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

$modal-inner-padding:                     20px !default;

$modal-default:                           475px !default;
$modal-lg:                                980px !default;
$modal-md:                                600px !default;
$modal-sm:                                300px !default;

//modal-tool
$modal-tool-height:                       645px !default;
$modal-tool-header-height:                63px !default;
$modal-paneltab-width:                    55px !default;
$modal-tabpane-padding:                   16px !default;
$modal-tool-previewwrapper-width:         400px !default;

//modal-preview
$modal-preview-previewwrapper-width:      980px !default;

//preview-arrow (left & right)
$container-arrow-circle-size:             100px;

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  @include fixed(top 0 bottom 0 right 0 left 0);
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate(0, -25%);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate(0, 0) }

  .close {
    position: absolute;

    &:focus {
      outline: none;
    }
  }
}

.modal-open .modal {
  overflow-x: auto;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: 85%;
  margin: 30px auto;
}

/**=====================================**/
/* 02 Actual Modal */
/**=====================================**/

.modal-content {
  position: relative;
  @include border-radius;
  @include modal-shadow;
  background-color: $white;
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;

  // but override that for button groups
  .btn-group .pikto-btn + .pikto-btn {
    margin-left: -1px;
  }

  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Modal background
.modal-backdrop {
  @include fixed(top 0 bottom 0 right 0 left 0);
  z-index: $zindex-modal-background;
  background-color: $dark-purple-grey-07;

  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity(0.7); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  background-color: $grey-light;
  padding: 15px;
  text-align: center;
  position: relative;
  @include border-radius("top");
  @include clearfix;

  .close {
    right: 10px;
    top: 10px;
  }

  .level-up {
    i {
      height: 18px;
      width: 25px;
      background-position: -103px -136px;
    }
  }
}

// Title text within header
.modal-title {
  margin: 0 0 0 14px;
  line-height: $line-height-base;
  word-spacing: 2px;
  font-weight: normal;
  color: $dark-purple-grey-03;
  @include proxima(semibold);
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
  min-height: 130px;
}

// Footer (for actions)
.modal-footer {
  padding: 15px $modal-inner-padding;
  background-color: $grey-light;
  @include border-radius("bottom");
  text-align: right; // right align buttons
  border-top: 1px solid $border-lightbg;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons
}

.modal-header, .modal-footer {
  // Properly space out buttons
  .pikto-btn + .pikto-btn {
    margin-left: 7px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
}

.modal-generic {
  .modal-body {
    display: table-cell;
    height: 130px;
    vertical-align: middle;
    word-break: break-word;

    > p:last-child {
      margin: 0px;
    }
  }
}

/**=====================================**/
/* 03 Measure Scrollbar Width for Padding Body During Modal Show/Hide */
/**=====================================**/
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/**=====================================**/
/* 04 Scale Up the Modal & Modal Sizes */
/**=====================================**/
@media (min-width: $screen-sm-min) {

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-default;
    margin: 30px auto;
  }

  // Modal sizes
  .modal-md {
    width: $modal-md;
  }

  .modal-sm {
    width: $modal-sm;
  }
}

@media (min-width: $screen-md-min) {
  .modal-lg {
    width: $modal-lg;
  }
}

/**=====================================**/
/* 05 Pikto Modal */
/**=====================================**/
/* 05a Types of Default Modal (without header, without footer, without header & footer) */
/**=====================================**/
.modal-noheaderfooter {
  
  .modal-body {
    padding: 20px;
    min-height: 150px;

    .close {
      right: 10px;
      top: 10px;
    }
  }
}

/**=====================================**/
/* 05b Function Modal (publish, export, download, piktocard...) */
/**=====================================**/
.modal-function {

  .modal-dialog {
    width: 570px;
  }

  .modal-body {
    min-height: 490px;
  }

  .modal-header {
    padding-bottom: 0;

    // Subtitle text below the title
    .modal-subtitle {
      margin-top: 25px;
    }
  }

  .nav-tabs > li {
    margin-right: 35px;

    &:last-of-type {
      margin: 0;
    }
  }

  .tab-content {

    > .tab-pane {
      padding: 0;
    }
  }
}

/**=====================================**/
/* 05c Payment Modal (related to payment) */
/**=====================================**/
.modal-payment {

  .modal-body {
    padding: 0;
    min-height: 300px;
  }

  .main-content {
    text-align: center;
  }

  .sub-content {
    background: $light-blue-grey-02;
  }

  .main-content, .sub-content {
    padding: $modal-inner-padding;
  }

  .modal-footer {
    text-align: center;

    .meta {
      margin-top: 8px;
      font-size: $font-size-small;
    }
  }
}

/**to be check & cleared after coding the plans layout**/
.payment-modal {

  .modal-dialog {

    @include min-screen($screen-sm) {
      width: 460px;
    }
  }
}

.pricing-payment-btn {
  position: relative;
  height: 50px;

  > input {
    background-color: transparent;
    border: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    &:focus {
      @include box-shadow(0px 0px 0px);
    }
  }
}

/**=====================================**/
/* 05d Tool Modal (maps, charts) */
/**=====================================**/
.modal-tool {

  .modal-content {
    height: $modal-tool-height;
    @include border-radius-special(4px 4px 2px 2px);
  }

  .modal-header {
    height: $modal-tool-header-height; //to calculate .wrapper-preview, .panel-tab height

    .modal-title {
      margin-left: ($modal-paneltab-width - 15px);
    }
  }

  .panel-tab {
    background-color: $dark-purple-grey-03;
    @include border-radius("bottom-right");

    li {
      display: block;
      width: $modal-paneltab-width;

      text-align: center;

      > a {
        margin-right: 0; //to overwrite .nav-tabs > li.active > a
        padding: 12px 10px;
        @include opacity(1); //to overwrite .nav-tabs > li > a
      }

      &.active, &.current {
        background-color: $grey-lighter;

        > a {
          border-bottom: none; //to overwrite the .nav-tabs > li.active > a
        }
      }
    }
  }

  .tab-content {

    > .tab-pane {
      padding: 0;
    }
  }

  .wrapper-preview {
    width: $modal-tool-previewwrapper-width;
  }

  .wrapper-preview, .panel-tab {
   height: ($modal-tool-height - $modal-tool-header-height);
   overflow: hidden;
 }

 .wrapper-data {
    width: ($modal-lg - $modal-paneltab-width - $modal-tool-previewwrapper-width);
  }
}

/**=====================================**/
/* 05e Preview Modal (with leftright arrow) */
/**=====================================**/
.modal-preview {

  .modal-dialog {
    margin: 50px auto;
  }

  .modal-header {
    position: relative;

    .close{
      position: absolute;
      top: -20px;
      right: -15px;
    }

    .pikto-btn-lightgrey {
      padding: 0;
    }

    .pikto-btn + .pikto-btn {
      margin-left: 5px;
    }
  }

  .wrapper-preview {
    width: $modal-preview-previewwrapper-width;
    @include border-radius("bottom-right");
    text-align: center;
    padding: 0px;
  }

  .wrapper-data {
    width: ($modal-lg - $modal-preview-previewwrapper-width);

    .container-menu {
      background: $grey-light;
      padding: 10px $modal-inner-padding 0px $modal-inner-padding;
    }

    .container-content {
      padding: $modal-inner-padding;
    }
  }

  .container-arrow-left, .container-arrow-right {
    background: $grey-darker;
    position: fixed;
    padding: 0 6px;
    height: $container-arrow-circle-size;
    width: $container-arrow-circle-size/2;
    z-index: $zindex-modal-content;
    top: 45%;
    @include transition (all 0.3s ease);
    -webkit-transform: scale3d (1,1,1); // fix for bug in chrome: http://stackoverflow.com/questions/15152470/chrome-rendering-issue-fixed-position-anchor-with-ul-in-body
    @include opacity(.5);
    cursor: pointer;

    i {
      position: relative;
      top: 30px;
      pointer-events: none;
    }

    &:hover, &:active {
      @include opacity(1);
    }
  }

  .container-arrow-left {
    left: -22px;
    @include border-radius("right", $container-arrow-circle-size);

    i {
      @include rotate($arrow-left-rotation);
    }

    &:hover, &.active {
      left: -5px;
    }
  }

  .container-arrow-right {
    right: -15px;
    @include border-radius("left", $container-arrow-circle-size);

    i {
      @include rotate($arrow-right-rotation);
    }

    &:hover, &.active {
      right: 2px;
    }
  }

  .progress {
    position: absolute;
    height: 8px;
    width: 100%;
    border-radius: 0px;
    top: 0;

    .progress-bar {
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;

    &.lazyloading + .progress, 
    &.lazyload + .progress {
      display: block;
    }

    &.lazyloaded + .progress {
      display: none;
    }
  }
}

/**=====================================**/
/* 05f Tool & Preview Modal Sharing Elements */
/**=====================================**/
.modal-tool, .modal-preview {

  .modal-lg {
    width: $modal-lg;
  }

  .modal-header {
    background-color: $dark-purple-grey-03;
    border-bottom: 0;

    .modal-title {
      color: $text-color-white;
      line-height: 2;
    }
  }

  .modal-body {
    padding: 0;
  }

  .wrapper-preview {
    overflow: hidden;
    background: $grey-lighter;
  }
}

/**=====================================**/
/**to be check & cleared after coding the  plans layout**/
/* 05g Modals in share settings and delete account. */
/**=====================================**/
.modal-new-version {
  .pikto-btn {
    margin-right: 15px;
  }

  .modal-body {
    > p, div {
      margin-bottom: 20px;
    }
  }

  .alert {
    > p {
      font-size: 13px;
      margin: 0;
    }
  }
}