/////////////////////////////////////////////
////// Nav
////// 01 Base
////// 02 Tabs
/////////////////////////////////////////////

/**=====================================**/
/* Nav */
/**=====================================**/
/* 01 Base */
/**=====================================**/
$nav-link-padding:  10px 15px !default;

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px 15px;

      &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
      }

      // Prevent IE8 from misplacing imgs
      // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
      > img {
        max-width: none;
      }
    }

      // Disabled state sets text to gray and nukes hover/tab effects
      &.disabled > a {
        color: $grey;

        &:hover,
        &:focus {
          color: $grey;
          text-decoration: none;
          background-color: transparent;
          cursor: $cursor-disabled;
        }
      }
    }

  // Open dropdowns
  .open > a {
    &, &:hover, &:focus {
      background-color: transparent;
      border-color: $teal;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.

  .nav-divider {
    @include nav-divider;
  }
}

/**=====================================**/
/* 02 Tabs */
/**=====================================**/

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $grey-dark;
  display: flex;
  align-items: center;

  > li {
    display: inline-block;
    // Make the list-items overlay the bottom border
    margin-bottom: -2px;
    padding: 14px 0px;
    border-bottom: 2px solid transparent;
    margin-left: 15px;
  
    // Actual tabs (as links)
    > a {
      line-height: $line-height-base;
      color: inherit;
      position: relative;
      @include opacity(.7);

      &:hover {
        @include opacity(1);
      }
    }

    &:first-of-type {
      margin-left: 0px;
    }

    &.active {
      border-bottom: 2px solid $teal;
      > a {
        &, &:hover, &:focus {
          @include opacity(1);
          cursor: default;
        }
      }
    }
  }

  > hr {
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0px 15px;
    background-color: black;

    + li {
      margin-left: 0px;
    }
  }
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
    padding: 10px;
    /* This was 20px, but making it 10px fixes two things:
    1. thumbnail lists (images/icons/bgimages) now show 3 columns even with scrollbar (12px may be low enough for that).
    2. background opacity slider now fits on one line (reducing size of slider labels could be an alternative). */
  }

  .slide-pane {
    > .tab-pane {
      padding: 10px;
      /*check whether this can be merge with the above, which is .tab-content > .tab-pane*/
    }
  }

  > .active {
    display: block;
  }
}
