/////////////////////////////////////////////
////// Navbars
////// 01 Base
/////////////////////////////////////////////

/**=====================================**/
/* Navbars */
/**=====================================**/
/* 01 Base */
/**=====================================**/
// Basics of a navbar
$navbar-height:                    60px !default;
$navbar-default-bg:                $dark-purple-grey-03 !default;
$navbar-menu-collapse-bp:           950px;

// Wrapper and base class
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  min-height: $navbar-height; 
  // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  border: 1px solid transparent;
  
  @media (min-width: $grid-float-breakpoint) {
    @include border-radius();
  }

  @include flexbox;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-purple-grey-03;
  padding: 0px 25px;

  p {
    margin: 0;
  }

  .navbar-divider {
    margin: 0px 25px;
    border-right: 1px solid $dark-purple-grey-08;
    border-top: 0;
    height: 14px;

    & +* {
      margin-left: 0;
    }
  }

  .dropdown-menu {
    top: 45px;
  }
}

.navbar-section {
  @include flexbox;
  justify-content: center;
  align-items: center;

  &>:first-child {
    margin-left: 0px;
  }

  > div, 
  > button, 
  > a, > i {
    margin-left: 10px;
  }
}