////////////////////////////////////
////// Pagination (multiple pages)
////// 01 Pagination
////////////////////////////////////

/*Pagination is not used in Magic*/

/**=====================================**/
/* Pagination */
/**=====================================**/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  @include border-radius;

  > li {
    display: inline; // Remove list-style and block-level defaults

    > a, > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      background-color: $white;
      border: 1px solid $grey-alternate-3c;
      margin-left: -1px;

      /*Boot*/
      color: $teal;
    }

    &:first-child {
      > a, > span {
        margin-left: 0;
        @include border-radius("left");
      }
    }

    &:last-child {
      > a, > span {
        @include border-radius("right");
      }
    }
  }

  > li > a,
  > li > span {
    &:hover, &:focus {
      background-color: $grey-darker;
      z-index: 2;
      color: $teal-darker;
      border-color: $grey-alternate-3c;
    }
  }

  > .active > a,
  > .active > span {
    &, &:hover, &:focus {
      z-index: 3;
      color: $white;
      background-color: $brand-primary;
      border-color: $brand-primary;
      cursor: default;
    }
  }

  > .disabled {
    > span, > span:hover, > span:focus,
    > a, > a:hover, > a:focus {
      color: $grey;
      background-color: $white;
      border-color: $grey-alternate-3c;
      cursor: $cursor-disabled;
    }
  }
}

/**=====================================**/
/* Sizing */
/**=====================================**/
.pagination-load-more {
  width: 90%;
  color: $white;
  background-color: $teal-grey;
  display: block;
  text-align: center;
  padding: 6px 12px;
  margin: 0 auto 20px;

  @include border-radius;;

  .loading {
    width: 25px;
    margin-right: 0.3em;
  }
}