////////////////////////////////////
////// Panels
////// 01 Base Class
////// 02 Collapsable
////// 03 List Group
////// 04 Tables
////// 05 Variation
////////////////////////////////////

/* 
Panels are used in 
/app/views/editor_v4/_left_pane.erb
app/views/import/survey_monkey/get_survey_list.html.erb

panel-group are used in 
/app/views/editor_v4/_modals.erb
*/

/**=====================================**/
/* Panels */
/**=====================================**/
/* 01 Base Class */
/**=====================================**/
.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid transparent;
  @include border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

// Panel contents
.panel-body {
  @include clearfix;
}

// Optional Heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  @include border-radius("top", 1px);
  > .dropdown .dropdown-toggle {
    color: inherit;
  }

  + .list-group .list-group-item:first-child {
    border-top-width: 0;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid $panel-inner-border;
  @include border-radius("bottom", 1px);
}

/**=====================================**/
/* 02 Collapsable */
/**=====================================**/
// Collapsable panels (aka, accordion)
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed; /*Boot*/

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    @include border-radius();
    overflow: hidden;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
  //border-bottom: 0;

  /*Boot*/
  + .panel-collapse .panel-body,
  + .panel-collapse .list-group /*Boot*/ {
      //border-top: 1px solid $panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;

    + .panel-collapse .panel-body {
      border-bottom: 1px solid $panel-inner-border;
    }
  }
}

/*Pikto Accordion - Overwriting the default style*/
.pikto-accordion {
  background-color: $light-purple-grey-02;
  padding: 20px;
  margin-bottom: 0px;
  min-width: 250px;

  .panel {
    border: 0 none;
    background-color: $light-purple-grey-02;
    border-bottom: 1px solid $dark-purple-grey-05;
    box-shadow: none;

    > .panel-heading {
      background-color: $light-purple-grey-02;
      @include border-radius-removal("all");
      padding: 0px;
      border: none;
    }

    + .panel {
      margin-top: 0px;
    }

    &:first-child a {
      padding-top: 0px;
    }

    &:last-child {
      border: 0px; 

      a {
        padding-bottom: 0px;
      } 
    }
  }

  .panel-title {
    display: table;
    width: 100%;
    color: $grey-darker;
  }

  .panel-title a {
    display: table-cell;
    vertical-align: middle;
    height: 48px;

    // &:not(.collapsed) {
    //   color: $white;
    // }
  }

  .tab-panel {
    > h1 {
      color: $grey-darker;
    }
  }
}