////////////////////////////////////
////// Progress Bar
////// 01 Bar Animations
////// 02 Bar Itself
////// 03 Variations
////////////////////////////////////

/**=====================================**/
/* Progress Bar */
/**=====================================**/
/* 01 Bar Animations */
/**=====================================**/
// WebKit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

/**=====================================**/
/* 02 Bar itself */
/**=====================================**/

$bar-color-darkbg:            $grey-light !default;
$bar-color-lightbg:           $grey-dark !default;
$progress-bar-bg:             $brand-primary;

@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin progress-bar-variant($color) {
  background-color: $color;

  // Deprecated parent class requirement as of v3.2.0
  .progress-striped & {
    @include gradient-striped;
  }
}

// Outer container
.progress {
  overflow: hidden;
  height: 8px;
  background-color: $light-purple-grey-06;
  @include border-radius("all",4px);
}

.progress-bg-purple {
  background-color: $light-purple-grey-06; 
}

.progress-bg-white {
  background-color: $white;
}

.progress-bar {
  float: left;
  @include size(0%, 100%);
  font-size: $font-size-small;
  line-height: normal;
  text-align: center;
  background-color: $brand-primary;
  @include transition(width .6s ease);
}

// Striped bars
// `.progress-striped .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar-striped` class, which you just add to an existing
// `.progress-bar`.
.progress-striped .progress-bar,
.progress-bar-striped {
  @include gradient-striped;
  background-size: 40px 40px;
}

// Call animation for the active one
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
  @include animation(progress-bar-stripes 1s linear infinite);
}
/*For the animation, Bootstrap's is 2s while we use 1s*/

/**=====================================**/
/* 03 Variations */
/**=====================================**/

.progress-bar-success {
  @include progress-bar-variant($brand-success);
}

.progress-bar-info {
  @include progress-bar-variant($brand-info);
}

.progress-bar-warning {
  @include progress-bar-variant($brand-warning);
}

.progress-bar-danger {
  @include progress-bar-variant($brand-danger);
}