/////////////////////////////////////////////
////// General Sprites
////// 01 Icon Sprite General Set Up
////// 02 Universal
//////////// 02a General
//////////// 02b Alerts
//////////// 02c Drags
//////////// 02d Edits
//////////// 02e Crosses, Pluses, Ticks
//////////// 02f Arrows
////// 03 Dashboard
////// 04 Output and Presentation
////// 05 Modal Tab Headers
////// 06 Privacy Setting
////// 07 Download File Resolution
////// 08 Logo
////// 09 Email Verification

////// Editor Sprites
////// 10 Tour
////// 11 Nav-Aside (Left Pane)
////// 12 Tool Icons
////// 13 Properties Bar
////// 14 Canvas Setting Bar
////// 15 Charts
////// 16 Maps
//////////// 17a v3 Maps
////// 18 Sign Up Poll


/**=====================================**/
/* Sprites */
/**=====================================**/
/* 01 Icon Sprite General Set Up */
/**=====================================**/
[class^="icon-"],
[class*=" icon-"] {
  /*position: relative;*/
  top: 1px;
  display: inline-block;
  width: 32px;
  height: 32px;
  /*.ie7-restore-right-whitespace();*/
  vertical-align: middle;
  background-image: image-url('v4/b/sprite/sprite.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: image-url('v4/b/sprite/sprite@2x.png');
    background-size: 1824px 512px; /* This replicates the original standard sprite dimensions, and assumes the actual dimensions of sprite.png */
  }
}

.styleguide-spritesheet {
  > i:nth-child(even) {
    background-color: cadetblue;
  }
  > i:nth-child(odd) {
    background-color: burlywood;
  }
}

/**=====================================**/
/* 02 Universal */
/**=====================================**/
/* 02a General */
/**=====================================**/
.icon-search-lightpurple {
  @include bgpos (0, 1);
}
.icon-search-darkpurple {
  @include bgpos (1, 1);
}
.icon-search-darkpurple-small {
  @include bgpos (2, 1);
}
.icon-clearsearch-small {
  @include bgpos (5, 6);
}
.icon-setting-greydark {
  @include bgpos (0, 2);
}
.icon-setting-white {
  @include bgpos (1, 2);
}
.icon-setting-darkpurple {
  @include bgpos (2, 2);
}
.icon-setting-teal {
  @include bgpos (0, 3);
}
.icon-setting-lightpurple{
  @include bgpos (1, 3);
}
.icon-setting-lightpurple-small {
  @include bgpos (2, 3);
}

.icon-hamburger-greydark {
  @include bgpos (0, 4);
}
.icon-hamburger-white {
  @include bgpos (1, 4);
}
.icon-hamburger-teal {
  @include bgpos (2, 4);
}

.icon-drag-greydark {
  @include bgpos (0, 5);
}
.icon-drag-white {
  @include bgpos (1, 5);
}
.icon-drag-teal {
  @include bgpos (2, 5);
}

.icon-preview-greydark {
  @include bgpos (0, 6);
}
.icon-preview-white {
  @include bgpos (1, 6);
}
.icon-preview-teal {
  @include bgpos (2, 6);
}
.icon-preview-grey {
  @include bgpos (0, 7);
}
.icon-preview-grey-disabled{
  @include bgpos (1, 7);
}

.icon-download-greydark {
  @include bgpos (0, 8);
}
.icon-download-white {
  @include bgpos (1, 8);
}
.icon-download-teal {
  @include bgpos (2, 8);
}

.icon-share-greydark {
  @include bgpos (0, 9);
}
.icon-share-white {
  @include bgpos (1, 9);
}
.icon-share-teal {
  @include bgpos (2, 9);
}

.icon-user-greydark {
  @include bgpos (0, 10);
}
.icon-user-white {
  @include bgpos (1, 10);
}
.icon-user-teal {
  @include bgpos (2, 10);
}

.icon-bell-greydark {
  @include bgpos (0, 15)
}
.icon-bell-white {
  @include bgpos (1, 15)
}
.icon-bell-teal {
  @include bgpos (2, 15)
}
/**=====================================**/
/* 02b Alerts */
/**=====================================**/
.icon-info {
  @include bgpos (3, 0);
}
.icon-alert-info {
  @include bgpos (3, 1);
}
.icon-alert-minus {
  @include bgpos (3, 2);
}
.icon-alert-warning {
  @include bgpos (3, 3);
}
.icon-alert-close {
  @include bgpos (6, 1);
}

/**=====================================**/
/* 02d Miscellaneous */
/**=====================================**/
.icon-edit-lightpurple {
  @include bgpos (4, 1)
}
.icon-edit-darkpurple {
  @include bgpos (4, 2)
}
.icon-edit-black {
  @include bgpos (4, 3)
}
.icon-edit-white {
  @include bgpos (4, 0)
}

.icon-crown-white {
  @include bgpos (3, 4);
}
.icon-crown-darkpurple {
  @include bgpos (4, 4);
}
.icon-crown-magenta {
  @include bgpos (3, 5);
}
.icon-crown-magenta-dark {
  @include bgpos (4, 5);
}

.icon-list-lightpurple {
  @include bgpos (3, 6);
}
.icon-grid-lightpurple {
  @include bgpos (4, 6);
}
.icon-list-darkpurple {
  @include bgpos (3, 7);
}
.icon-grid-darkpurple {
  @include bgpos (4, 7);
}

.icon-view-list {
  @include bgpos (3, 8);
}
.icon-view-thumbnail {
  @include bgpos (4, 8);
}

.icon-delete-black {
  @include bgpos (3, 9);
}
.icon-delete-magenta {
  @include bgpos (4, 9);
}
.icon-delete-darkpurple {
  @include bgpos (3, 10);
}
.icon-delete-lightpurple {
  @include bgpos (4, 10);
}
.icon-delete-white {
  @include bgpos (3, 11);
}
.icon-time-lightpurple {
  @include bgpos (3, 12);
}
.icon-time-darkpurple {
  @include bgpos (4, 12);
}
.icon-info-teal {
  @include bgpos (3, 13);
}
.icon-menu-submenu {
  @include bgpos (4, 13);
}
.icon-brush-darkpurple{
  @include bgpos (4, 14);
}
.icon-brush-white{
  @include bgpos (4, 14);
}


/**=====================================**/
/* 02e Crosses, Pluses, Ticks */
/**=====================================**/
.icon-cross-greydark-big {
  @include bgpos (5, 0);
}
.icon-cross-greydark-small {
  @include bgpos (6, 0);
}
.icon-cross-darkpurple-big {
  @include bgpos (5, 1);
}
.icon-cross-darkpurple-small {
  @include bgpos (6, 1);
}
.icon-cross-lightpurple-big {
  @include bgpos (5, 2);
}
.icon-cross-lightpurple-small {
  @include bgpos (6, 2);
}
.icon-cross-midpurple-big {
  @include bgpos (5, 3);
}
.icon-cross-midpurple-small {
  @include bgpos (6, 3);
}
.icon-cross-white-big {
  @include bgpos (5, 4);
}
.icon-cross-white-small {
  @include bgpos (6, 4);
}
.icon-cross-teal-big {
  @include bgpos (5, 5);
}
.icon-cross-teal-small {
  @include bgpos (6, 5);
}
.icon-cross-darkpurple-round {
  @include bgpos (5, 6);
}
.icon-cross-magenta-small {
  @include bgpos (6, 6);
}

.icon-cross-white-large {
  @include bgpos (5, 7);
}
.icon-cross-magenta-large {
  @include bgpos (6, 7);
}
.icon-tour-cancel {
  @include bgpos (5, 8);
}
.icon-tour-cancel-darkpurple {
  @include bgpos (6, 8);
}
.icon-cross-red {
  @include bgpos (5, 9);
}

.icon-tick-white {
  @include bgpos (5, 10);
}
.icon-tick-teal {
  @include bgpos (6, 10);
}
.icon-tick-white-big {
  @include bgpos (5, 11);
}
.icon-tick-teal-big {
  @include bgpos (6, 11);
}

.icon-arrow-grey-right {
  @include bgpos (5, 12);
}
.icon-arrow-white-right {
  @include bgpos (6, 12);
}

.icon-plus-teal-sm {
  @include bgpos (6, 13);
}
.icon-plus-cs-darkpurple {
  @include bgpos (5, 14);
}
.icon-plus-cs-white {
  @include bgpos (6, 14);
}
/**=====================================**/
/* 02f Arrows*/
/**=====================================**/
.icon-arrow-lightpurple-big{
  @include bgpos (7, 0);
}
.icon-arrow-lightpurple-small{
  @include bgpos (8, 0);
}
.icon-arrow-darkpurple-big{
  @include bgpos (7, 1);
}
.icon-arrow-darkpurple-small{
  @include bgpos (8, 1);
}
.icon-arrow-darkpurple-small-reverse{
  @include bgpos (8, 1);
  @include rotate(180);
}

.icon-arrow-greydark-big{
  @include bgpos (7, 2);
}
.icon-arrow-greydark-small{
  @include bgpos (8, 2);
}
.icon-arrow-white-big{
  @include bgpos (7, 3);
}
.icon-arrow-white-small{
  @include bgpos (8, 3);
}
.icon-arrow-teal-big {
  @include bgpos (7, 4);
}
.icon-arrow-teal-small {
  @include bgpos (8, 4);
}
.icon-arrow-darkteal-big {
  @include bgpos (7, 5);
}
.icon-arrow-darkteal-small {
  @include bgpos (8, 5);
}
.icon-twinarrow-darkpurple-small {
  @include bgpos (7, 6);
}
.icon-twinarrow-teal-big {
  @include bgpos (8, 6);
}

/**=====================================**/
/* 03 Dashboard */
/**=====================================**/
.icon-dashdash-white {
  @include bgpos (9, 0);
}
.icon-dashdash-teal {
  @include bgpos (10, 0);
}
.icon-dashdash-grey {
  @include bgpos (11, 0);
}

.icon-dashinform-white {
  @include bgpos (9, 1);
}
.icon-dashinform-teal {
  @include bgpos (10, 1);
}
.icon-dashinform-grey {
  @include bgpos (11, 1);
}

.icon-dashpresent-white {
  @include bgpos (9, 2);
}
.icon-dashpresent-teal {
  @include bgpos (10, 2);
}
.icon-dashpresent-grey {
  @include bgpos (11, 2);
}

.icon-dashprint-white {
  @include bgpos (9, 3);
}
.icon-dashprint-teal {
  @include bgpos (10, 3);
}
.icon-dashprint-grey {
  @include bgpos (11, 3);
}

.icon-dashinspire {
  @include bgpos (12, 0);
}
.icon-dashinform-grey-small {
  @include bgposAdj (12, 1, -7, -7);
  @include size (18px);
}
.icon-dashpresent-grey-small {
  @include bgposAdj (12, 2, -7, -7);
  @include size (18px);
}
.icon-dashprint-grey-small {
  @include bgposAdj (12, 3, -7, -7);
  @include size (18px);
}
.icon-dashinform-grey-big {
  @include bgpos (9, 4);
  @include size (64px);
}
.icon-dashpresent-grey-big {
  @include bgpos (11, 4);
  @include size (64px);
}
.icon-dashprint-grey-big {
  @include bgpos (9, 6);
  @include size (64px);
}
.icon-dashdash-grey-big {
  @include bgpos (11, 6);
  @include size (64px);
}

/*Icon with Pencil and Paper*/
.icon-create-new {
  @include bgpos (9, 8);
  @include size (64px);
}
.icon-search-white-big {
  @include bgpos (11, 8);
  @include size (64px);
}
.icon-plus-teal {
  @include bgpos (9, 10);
  @include size (64px);
}
.icon-not-found-emo {
  @include bgpos (11,10);
  @include size (64px);
}
.icon-upload-plus {
  @include bgpos (9,12);
  @include size (64px);
}
.icon-upload-plus-lightpurple {
  @include bgpos (11,12);
  @include size (64px);
}
.icon-responsive-notify {
    @include bgpos (13, 6);
    @include size (64px);
}
/**=====================================**/
/* 04 Output and Presentation */
/**=====================================**/
.icon-presentation-present-greydark {
  @include bgpos (13, 0);
}
.icon-presentation-present-greylight {
  @include bgpos (14, 0);
}
.icon-presentation-preview-greydark {
  @include bgpos (13, 1);
}
.icon-presentation-preview-greylight {
  @include bgpos (14, 1);
}
.icon-presentation-transition-greydark {
  @include bgpos (13, 2);
}
.icon-presentation-transition-greylight {
  @include bgpos (14, 2);
}
.icon-presentation-expand-greydark {
  @include bgpos (13, 3);
}
.icon-presentation-expand-greylight {
  @include bgpos (14, 3);
}

.icon-presentation-present-white-big {
  @include bgpos (13, 4);
  @include size (64px);
}
/**=====================================**/
/* 05 Modal Tab Headers */
/**=====================================**/
.icon-dlimage-darkpurple {
  @include bgpos (15, 0);
}
.icon-dlimage-lightpurple {
  @include bgpos (16, 0);
}
.icon-dlpdf-darkpurple {
  @include bgpos (15, 1);
}
.icon-dlpdf-lightpurple {
  @include bgpos (16, 1);
}
.icon-sharevia-darkpurple {
  @include bgpos (15, 2);
}
.icon-sharevia-lightpurple {
  @include bgpos (16, 2);
}
.icon-export-darkpurple {
  @include bgpos (15, 3);
}
.icon-export-lightpurple {
  @include bgpos (16, 3);
}
.icon-pagesetup-darkpurple {
  @include bgpos (15, 4);
}
.icon-pagesetup-lightpurple {
  @include bgpos (16, 4);
}
/**=====================================**/
/* 06 Privacy Setting */
/**=====================================**/
.icon-ps-unpublished-greylight {
  @include bgpos (17, 0);
}
.icon-ps-unpublished-greydark {
  @include bgpos (18, 0);
}
.icon-ps-unpublished-lightpurple {
  @include bgpos (19, 0);
}

.icon-ps-public-greylight {
  @include bgpos (17, 1);
}
.icon-ps-public-greydark {
  @include bgpos (18, 1);
}
.icon-ps-public-lightpurple {
  @include bgpos (19, 1);
}

.icon-ps-share-greylight {
  @include bgpos (17, 2);
}
.icon-ps-share-greydark {
  @include bgpos (18, 2);
}
.icon-ps-share-lightpurple {
  @include bgpos (19, 2);
}

.icon-ps-private-greylight {
  @include bgpos (17, 3);
}
.icon-ps-private-greydark {
  @include bgpos (18, 3);
}
.icon-ps-private-lightpurple {
  @include bgpos (19, 3);
}

.icon-globe-darkpurple {
  @include bgpos (20, 0);
}
.icon-public-darkpurple {
  @include bgpos (20, 1);
}
.icon-shared-darkpurple {
  @include bgpos (20, 2);
}
.icon-private-darkpurple {
  @include bgpos (20, 3);
}
.icon-present-darkpurple {
  @include bgpos (20, 4);
}

/**=====================================**/
/* 07 Download File Resolution */
/**=====================================**/
/*Used in download modal*/
.icon-pdf-blocks,
.icon-pdf-papersize,
.icon-pdf-longform,
.icon-pdf-custom {
  width: 96px;
  height: 96px
}

.icon-pdf-blocks {
  @include bgpos (21, 0);
}
.icon-pdf-papersize {
  @include bgpos (21, 3);
}
.icon-pdf-longform {
  @include bgpos (21, 6);
}
.icon-pdf-custom {
  @include bgpos (21, 9);
}

/*Used in Page Setup*/
.icon-papersize-a4, .icon-papersize-letter {
  width: 64px;
  height: 64px;
}
.icon-papersize-a4 {
  @include bgpos (24, 0);
}
.icon-papersize-letter {
  @include bgpos (24, 2);
}

/**=====================================**/
/* 08 Logo */
/**=====================================**/
.icon-facebook {
  @include bgpos (26, 0);
}
.icon-facebook-white {
  @include bgpos (26, 1);
}
.icon-gplus {
  @include bgpos (27, 0);
}
/*JJ: it's not white anymore*/
.icon-gplus-white {
  @include bgpos (27, 1);
}
.icon-twitter {
  @include bgpos (28, 0);
}
.icon-twitter-white {
  @include bgpos (28, 1);
}
.icon-pinterest {
  @include bgpos (29, 0);
}
.icon-pinterest-white {
  @include bgpos (29, 1);
}

.icon-visa {
  @include bgpos (26, 2);
}
.icon-master {
  @include bgpos (27, 2);
}
.icon-piktocard {
  @include bgpos (26, 3);
}
.icon-embedcode {
  @include bgpos (27, 3);
}

.icon-braintree,
.icon-paypal {
  width: 64px;
}

.icon-braintree {
  @include bgpos (28, 2);
}
.icon-paypal {
  @include bgpos (28, 3);
}

.icon-evernote,
.icon-slideshare {
  width: 160px;
  height: 64px;
}

.icon-evernote  {
  @include bgpos (25, 4);
}
.icon-slideshare {
  @include bgpos (25, 6);
}


/**=====================================**/
/* 09 Email Verification */
/**=====================================**/

.icon-resent {
  @include bgpos(26, 8);
  width: 64px;
  height: 64px;
}
.icon-check-done {
  @include bgpos(26, 10);
  width: 64px;
  height: 64px;
}
.icon-sad-emo {
  @include bgpos(28, 8);
  width: 64px;
  height: 64px;
}
.icon-thumbs-up {
  @include bgpos(28, 10);
  width: 64px;
  height: 64px;
}

/**=====================================**/
/* Editor Sprites */
/**=====================================**/
/* 10 Tour */
/**=====================================**/
.icon-tour-photo,
.icon-tour-export,
.icon-tour-bg,
.icon-tour-text,
.icon-tour-mask,
.icon-tour-block {
  width: 64px;
  height: 64px;
}

.icon-tour-photo {
  @include bgpos (30, 0);
}
.icon-tour-export {
  @include bgpos (30, 2);
}
.icon-tour-bg {
  @include bgpos (30, 4);
}
.icon-tour-text {
  @include bgpos (30, 6);
}
.icon-tour-mask {
  @include bgpos (30, 8);
}
.icon-tour-block {
  @include bgpos (30, 10);
}

/**=====================================**/
/* 11 Nav-Aside (Left Pane) */
/**=====================================**/

.icon-navgraphic-greydark{
  @include bgpos (32, 0);
}
.icon-navgraphic-white {
  @include bgpos (33, 0);
}
.icon-navupload-greydark {
  @include bgpos (32, 1);
}
.icon-navupload-white {
  @include bgpos (33, 1);
}
.icon-navbg-greydark {
  @include bgpos (32, 2);
}
.icon-navbg-white {
  @include bgpos (33, 2);
}
.icon-navtext-greydark {
  @include bgpos (32, 3);
}
.icon-navtext-white {
  @include bgpos (33, 3);
}
.icon-navtools-greydark {
  @include bgpos (32, 4);
}
.icon-navtools-white {
  @include bgpos (33, 4);
}
.icon-navimport-greydark{
  @include bgpos (32, 5);
}
.icon-navimport-white{
  @include bgpos (33, 5);
}
.icon-navtour-greydark {
  @include bgpos (32, 6);
}
.icon-navtour-white {
  @include bgpos (33, 6);
}
.icon-nav-cs-greydark{
  @include bgpos (32, 7);
}
.icon-nav-cs-white{
  @include bgpos (33, 7);
}
.icon-nav-cs-creator-greydark{
  @include bgpos (32, 8);
}
.icon-nav-cs-creator-white{
  @include bgpos (33, 8);
}
/**=====================================**/
/* 12 Tool Icons */
/**=====================================**/

.icon-tool-chart,
.icon-tool-map,
.icon-tool-video,
.icon-tool-surveymonkey,
.icon-tool-upload,
.icon-tool-line, 
.icon-tool-brush {
  width: 64px;
  height: 64px;
}

.icon-tool-chart {
  @include bgpos (34, 0);
}
.icon-tool-map {
  @include bgpos (34, 2);
}
.icon-tool-video {
  @include bgpos (34, 4);
}
.icon-tool-surveymonkey {
  @include bgpos (34, 6);
}
.icon-tool-upload {
  @include bgpos (34, 8);
}
.icon-tool-line {
  @include bgpos (34, 10);
}
.icon-tool-brush {
  @include bgpos (34, 12);
}
/**=====================================**/
/* 13 Properties Bar */
/**=====================================**/
.icon-pb-undo {
  @include bgpos (36, 0);
}
.icon-pb-redo {
  @include bgpos (36, 1);
}
.icon-pb-cut {
  @include bgpos (36, 2);
}
.icon-pb-copy {
  @include bgpos (36, 3);
}
.icon-pb-paste {
  @include bgpos (36, 4);
}
.icon-pb-delete {
  @include bgpos (36, 5);
}
.icon-pb-group {
  @include bgpos (36, 6);
}
.icon-pb-lock {
  @include bgpos (36, 7);
}
.icon-pb-svgcolour {
  @include bgpos (36, 8);
}
.icon-pb-svgcolour-white {
  @include bgpos (36, 9);
}
/*** Right-click Context Menu ***/
.icon-pb-selectall {
  @include bgpos (36, 10);
}
.icon-pb-bullet-list {
  @include bgpos (36, 11);
}

.icon-pb-opacity {
  @include bgpos (37, 0);
}
.icon-pb-fontfaces {
  @include bgpos (37, 1);
}
.icon-pb-fontsizes {
  @include bgpos (37, 2);
}
.icon-pb-textbold {
  @include bgpos (37, 3);
}
.icon-pb-textitalic {
  @include bgpos (37, 4);
}
.icon-pb-textleft {
  @include bgpos (37, 5);
}
.icon-pb-textright {
  @include bgpos (37, 6);
}
.icon-pb-textcenter {
  @include bgpos (37, 7);
}
.icon-pb-textjustify {
  @include bgpos (37, 8);
}
.icon-pb-textalignment {
  @extend .icon-pb-textjustify;
}
.icon-pb-attachedlink {
  @include bgpos (37, 9);
}
.icon-pb-text-spacing {
  @include bgpos (37, 10);
}

.icon-pb-mask {
  @include bgpos (38, 0);
}
.icon-pb-unmask {
  @include bgpos (38, 1);
}
.icon-pb-arrangefront {
  @include bgpos (38, 2);
}
.icon-pb-arrangeback {
  @include bgpos (38, 3);
}
.icon-pb-arrangeforward {
  @include bgpos (38, 4);
}
.icon-pb-arrangebackward {
  @include bgpos (38, 5);
}
.icon-pb-linewidth {
  @include bgpos (38, 6);
}
.icon-pb-fliplr {
  @include bgpos (38, 7);
}
.icon-pb-fliptb {
  @include bgpos (38, 8);
}
.icon-pb-snapguides {
  @include bgpos (38, 9);
}
.icon-pb-underline {
  @include bgpos (38, 10);
}
/**=====================================**/
/* 14 Canvas Setting Bar */
/**=====================================**/

.icon-canvas-add {
  @include bgpos (39, 0);
}
.icon-canvas-moveup {
  @include bgpos (39, 1);
}
.icon-canvas-movedown {
  @include bgpos (39, 2);
}
.icon-canvas-clone {
  @include bgpos (39, 3);
}
.icon-canvas-delete {
  @include bgpos (39, 4);
}
.icon-canvas-edit {
  @include bgpos (39, 5);
}
/**=====================================**/
/* 15 Charts */
/**=====================================**/
/*GREYDARK*/
.icon-chartVbar-greydark {
  @include bgpos (40, 0);
}
.icon-charttriangle-greydark {
  @include bgpos (40, 1);
}
.icon-chartHbar-greydark {
  @include bgpos (40, 2);
}
.icon-chartline-greydark {
  @include bgpos (40, 3);
}
.icon-chartarea-greydark {
  @include bgpos (40, 4);
}
.icon-chartdot-greydark {
  @include bgpos (40, 5);
}
.icon-chartpie-greydark {
  @include bgpos (40, 6);
}
.icon-chartballoon-greydark {
  @include bgpos (40, 7);
}
.icon-chartmatrix-greydark {
  @include bgpos (40, 8);
}
.icon-chartgradient-greydark {
  @include bgpos (40, 9);
}
.icon-chartgauge-greydark {
  @include bgpos (40, 10);
}
.icon-chartdonut-greydark {
  @include bgpos (40, 11);
}
.icon-chartswatch-greydark {
  @include bgpos (40, 12);
}
.icon-chartbubble-greydark {
  @include bgpos (40, 13);
}
.icon-chartscatter-greydark {
  @include bgpos (40, 14);
}
.icon-chartprogress-greydark {
  @include bgpos (40, 15);
}
/*WHITES*/
.icon-chartVbar-white {
  @include bgpos (41, 0);
}
.icon-charttriangle-white {
  @include bgpos (41, 1);
}
.icon-chartHbar-white {
  @include bgpos (41, 2);
}
.icon-chartline-white {
  @include bgpos (41, 3);
}
.icon-chartarea-white {
  @include bgpos (41, 4);
}
.icon-chartdot-white {
  @include bgpos (41, 5);
}
.icon-chartpie-white {
  @include bgpos (41, 6);
}
.icon-chartballoon-white {
  @include bgpos (41, 7);
}
.icon-chartmatrix-white {
  @include bgpos (41, 8);
}
.icon-chartgradient-white {
  @include bgpos (41, 9);
}
.icon-chartgauge-white {
  @include bgpos (41, 10);
}
.icon-chartdonut-white {
  @include bgpos (41, 11);
}
.icon-chartswatch-white {
  @include bgpos (41, 12);
}
.icon-chartbubble-white {
  @include bgpos (41, 13);
}
.icon-chartscatter-white {
  @include bgpos (41, 14);
}
.icon-chartprogress-white {
  @include bgpos (41, 15);
}
/*TEALS*/
.icon-chartVbar-teal {
  @include bgpos (42, 0);
}
.icon-charttriangle-teal {
  @include bgpos (42, 1);
}
.icon-chartHbar-teal {
  @include bgpos (42, 2);
}
.icon-chartline-teal {
  @include bgpos (42, 3);
}
.icon-chartarea-teal {
  @include bgpos (42, 4);
}
.icon-chartdot-teal {
  @include bgpos (42, 5);
}
.icon-chartpie-teal {
  @include bgpos (42, 6);
}
.icon-chartballoon-teal {
  @include bgpos (42, 7);
}
.icon-chartmatrix-teal {
  @include bgpos (42, 8);
}
.icon-chartgradient-teal {
  @include bgpos (42, 9);
}
.icon-chartgauge-teal {
  @include bgpos (42, 10);
}
.icon-chartdonut-teal {
  @include bgpos (42, 11);
}
.icon-chartswatch-teal {
  @include bgpos (42, 12);
}
.icon-chartbubble-teal {
  @include bgpos (42, 13);
}
.icon-chartscatter-teal {
  @include bgpos (42, 14);
}
.icon-chartprogress-teal {
  @include bgpos (42, 15);
}

/*Chart Header*/
.icon-data-darkpurple {
  @include bgpos (43, 0);
}
.icon-data-lightpurple {
  @include bgpos (44, 0);
}
.icon-dynamic-data-darkpurple {
  @include bgpos (43, 1);
}
.icon-dynamic-data-lightpurple {
  @include bgpos (44, 1);
}
.icon-tableswitch {
  @include bgpos (43, 2);
}
.icon-map-globe {
  @include bgpos (44, 2);
}
.icon-map-country-darkpurple {
  @include bgpos (43, 3);
}
.icon-map-country-lightpurple {
  @include bgpos (44, 3);
}
.icon-map-region-darkpurple {
  @include bgpos (43, 4);
}
.icon-map-region-lightpurple {
  @include bgpos (44, 4);
}
.icon-plus-darkpurple {
  @include bgpos (43, 5);
}
.icon-plus-lightpurple {
  @include bgpos (44, 5);
}


/**=====================================**/
/* 16 Maps */
/**=====================================**/
[class^="icon-newmapworld"],
[class*="icon-newmapworld"] {
  width: 64px;
  height: 64px;
}

.icon-newmapworld-lightpurple,
.icon-newmapworld-darkpurple,
.icon-newmapworld-teal {
  width: 96px;
  height: 64px;
}

.icon-newmapworld-lightpurple {
  @include bgpos (45, 0);
}
.icon-newmapworld-darkpurple {
  @include bgpos (48, 0);
}
.icon-newmapworld-teal {
  @include bgpos (51, 0);
}

.icon-newmapworld-southamerica-lightpurple {
  @include bgpos (46, 2);
}
.icon-newmapworld-southamerica-darkpurple {
  @include bgpos (49, 2);
}
.icon-newmapworld-southamerica-teal {
  @include bgpos (52, 2);
}

.icon-newmapworld-asia-lightpurple {
  @include bgpos (46, 4);
}
.icon-newmapworld-asia-darkpurple {
  @include bgpos (49, 4);
}
.icon-newmapworld-asia-teal {
  @include bgpos (52, 4);
}

.icon-newmapworld-africa-lightpurple {
  @include bgpos (46, 6);
}
.icon-newmapworld-africa-darkpurple {
  @include bgpos (49, 6);
}
.icon-newmapworld-africa-teal {
  @include bgpos (52, 6);
}

.icon-newmapworld-northamerica-lightpurple {
  @include bgpos (46, 8);
}
.icon-newmapworld-northamerica-darkpurple {
  @include bgpos (49, 8);
}
.icon-newmapworld-northamerica-teal {
  @include bgpos (52, 8);
}

.icon-newmapworld-europe-lightpurple {
  @include bgpos (46, 10);
}
.icon-newmapworld-europe-darkpurple {
  @include bgpos (49, 10);
}
.icon-newmapworld-europe-teal {
  @include bgpos (52, 10);
}

.icon-newmapworld-southeastasia-lightpurple {
  @include bgpos (46, 12);
}
.icon-newmapworld-southeastasia-darkpurple {
  @include bgpos (49, 12);
}
.icon-newmapworld-southeastasia-teal {
  @include bgpos (52, 12);
}

.icon-newmapworld-oceania-lightpurple {
  @include bgpos (46, 14);
}
.icon-newmapworld-oceania-darkpurple {
  @include bgpos (49, 14);
}
.icon-newmapworld-oceania-teal {
  @include bgpos (52, 14);
}

/**=====================================**/
/* 17a v3 Maps */
/**=====================================**/

.icon-mapworld-greydark {
  @include bgpos (54, 0);
}
.icon-mapworld-white {
  @include bgpos (55, 0);
}
.icon-mapworld-teal {
  @include bgpos (56, 0);
}

.icon-mapEurope-greydark {
  @include bgpos (54, 1);
}
.icon-mapEurope-white {
  @include bgpos (55, 1);
}
.icon-mapEurope-teal {
  @include bgpos (56, 1);
}

.icon-mapAsia-greydark {
  @include bgpos (54, 2);
}
.icon-mapAsia-white {
  @include bgpos (55, 2);
}
.icon-mapAsia-teal {
  @include bgpos (56, 2);
}

.icon-mapSoutheastasia-greydark {
  @include bgpos (54, 3);
}
.icon-mapSoutheastasia-white {
  @include bgpos (55, 3);
}
.icon-mapSoutheastasia-teal {
  @include bgpos (56, 3);
}

.icon-mapAfrica-greydark {
  @include bgpos (54, 4);
}
.icon-mapAfrica-white {
  @include bgpos (55, 4);
}
.icon-mapAfrica-teal {
  @include bgpos (56, 4);
}

.icon-mapSouthamerica-greydark {
  @include bgpos (54, 5);
}
.icon-mapSouthamerica-white {
  @include bgpos (55, 5);
}
.icon-mapSouthamerica-teal {
  @include bgpos (56, 5);
}

.icon-mapNorthamerica-greydark {
  @include bgpos (54, 6);
}
.icon-mapNorthamerica-white {
  @include bgpos (55, 6);
}
.icon-mapNorthamerica-teal {
  @include bgpos (56, 6);
}

.icon-mapOceania-greydark {
  @include bgpos (54, 7);
}
.icon-mapOceania-white {
  @include bgpos (55, 7);
}
.icon-mapOceania-teal {
  @include bgpos (56, 7);
}

.icon-mapUSA-greydark {
  @include bgpos (54, 8);
}
.icon-mapUSA-white {
  @include bgpos (55, 8);
}
.icon-mapUSA-teal {
  @include bgpos (56, 8);
}

.icon-mapAus-greydark {
  @include bgpos (54, 9);
}
.icon-mapAus-white {
  @include bgpos (55, 9);
}
.icon-mapAus-teal {
  @include bgpos (56, 9);
}

/******************************
18 Sign Up Poll
******************************/

/*
Important:
If the size of the svg sprite sheet changed,
Please change the row and column size in _VARIABLES.scss under signup poll section
Find icon-x, icon-y
*/

[class^="svgicon-"],
[class*=" svgicon-"] {
  /*position: relative;*/
  top: 1px;
  display: inline-block;
  width: 300px;
  height: 300px;
  /*.ie7-restore-right-whitespace();*/
  vertical-align: middle;
  background-image: image-url('v4/b/sprite-signuppoll.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: $icon-x * 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  [class^="svgicon-"],
  [class*=" svgicon-"] {
    background-image: image-url('v4/b/sprite-signuppoll.svg');
  }
}

@each $svg, $x, $y in $signup-poll-svgmap {
  .svgicon-#{$svg} {
    @include svgbgpos ($x, $y);
  }
}

/*The above will produce the following*/
/*
.svgicon-school {
  @include svgbgpos (1, 0);
}
.svgicon-enterprise {
  @include svgbgpos (1, 1);
}
*/

