////////////////////////////////////
////// TABLES
////// 01 Main
////// 02 Baseline Styles
////// 03 Bordered Table
////// 04 Condensed Table
////// 05 Hover Effect
////// 06 Responsive Tables
////// 07 Table Background
////// 08 Table Cell Sizing
////// 09 Zebra Striping
////////////////////////////////////

$table-cell-padding:            8px !default;
$table-condensed-cell-padding:  5px !default;
$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #ddd !default;

/**=====================================**/
/* 01 Main */
/**=====================================**/

table {
  max-width: 100%;
  background-color: $table-bg;
}

caption /*Boot*/ {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $teal-grey;
  text-align: left;
}

th {
  text-align: left;
}

/**=====================================**/
/* 02 Baseline styles */
/**=====================================**/

.table {
  width: 100%;
  margin-bottom: $line-height-computed;
  max-width: 100%;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th, > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}

/**=====================================**/
/* 03 Bordered Table */
/**=====================================**/
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}

/**=====================================**/
/* 03 Condensed Table */
/**=====================================**/
// Condensed table w/ half padding
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}

/**=====================================**/
/* 05 Hover Effect */
/**=====================================**/
// Placed here since it has to come after the potential zebra striping

.table-hover > tbody > tr:hover {
  > td,
  > th {
    background-color: $table-bg-hover;
  }
}

/**=====================================**/
/* 06 Responsive Tables */
/**=====================================**/
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  /*Boot*/
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width: $screen-xs-max) {
    border: 1px solid $table-border-color;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th, > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

/**=====================================**/
/* 07 Table Background */
/**=====================================**/
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants /*Boot*/
@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $brand-success);
@include table-row-variant('info', $brand-info);
@include table-row-variant('warning', $brand-warning);
@include table-row-variant('danger', $brand-danger);

// Example of an old table
// Should we use this or just use the variant method above

.table > thead > tr > .active,
.table > tbody > tr > .active,
.table > tfoot > tr > .active,
.table > thead > .active > td,
.table > tbody > .active > td,
.table > tfoot > .active > td,
.table > thead > .active > th,
.table > tbody > .active > th,
.table > tfoot > .active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > .active:hover,
.table-hover > tbody > .active:hover > td,
.table-hover > tbody > .active:hover > th {
  background-color: #e8e8e8;
}

/**=====================================**/
/* 08 Table Cell Sizing */
/**=====================================**/
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}

table {
  td,
  th {
    &[class*="col-"] {
      float: none;
      display: table-cell;
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    }
  }
}


/**=====================================**/
/* 09 Zebra Striping */
/**=====================================**/
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped > tbody > tr:nth-of-type(odd) {
  > td,
  > th {
    background-color: $table-bg-accent;
  }
}

