////////////////////////////////////
////// Core
////// 01 Bootstrap-sass-asset-helper
////// 02 Colors
//////////// 02a Core Colour
//////////// 02b Scaffolding
//////////// 02c Global Textual Link Color
//////////// 02d Global Icon Link Color
//////////// 02e Alert State Colour
//////////// 02f Social Media Colour
//////////// 02g Account Plan Related Colour
//////////// 02h Privacy Setting Related Colour
//////////// 02i Others
///// 03 Components
///// 04 Form State and Alert
///// 05 Media Queries Breakpoints
//////////// 05a For specific case scenario
///// 06 Grid system
///// 07 Typography
//////////// 07a Base
//////////// 07b Header
//////////// 07c Body text size
////////////////////////////////////

////////////////////////////////////
///// UI Elements
///// 08 Alerts
///// 09 Badges
///// 10 Breadcrumbs
///// 11 Button
///// 12 Carousel
///// 13 Close
///// 14 Code
///// 15 Container Sizes
///// 16 Dropdowns
///// 17 Forms
///// 18 Jumbotron
///// 19 Labels
///// 20 List Group
///// 21 Modals
//////////// 21a Base
//////////// 21b Modal - Charts & Maps Shared Elements
//////////// 21d Modal-Charts - Main
//////////// 21e Modal-Charts - SVG library container
//////////// 21f Modal-Maps v4
///// 22 Color Picker
///// 23 Nav
///// 24 Navbar
///// 25 Pagination
///// 26 Pager
///// 27 Panels
///// 28 Popovers
///// 29 Progress Bars & Slider
///// 30 Table
///// 31 Thumbnail
///// 32 Tooltips
///// 33 Type (Different from typography)
///// 34 Wells
///// 35 Z-index Master List
///// 36 Arrow Icon Rotation Degrees
///// 37 Autocomplete, Dropdown List, Popover & Context Menu
///// 38 Shared Effect Style (eg. dropshadow)
////////////////////////////////////

////////////////////////////////////
///// Specific Pages
///// 39 Signup Polls
///// 40 Output/Presentation Page SCSS
///// 41 Templates Selector
///// 42 Magic Editor Structure
//////////// 42a Overall Structure
//////////// 42b Left Side Menu
//////////// 42c Block Settings
//////////// 42d Properties Toolbar
///// 43 Pricing Plans related
//////////// 43a Subscription Completion
//////////// 43b Pricing Pages/Modals/EDU
///// 44 Dashboard
//////////// 44a Header
//////////// 44b Inspire Me Page
///// 45 Responsive Notification
////////////////////////////////////

/**=====================================**/
/* 02a Scaffolding
/**=====================================**/
$body-bg:               $grey-lighter !default;
$editor-bg:             $grey !default;

$text-color:            $dark-purple-grey-03 !default;
$text-color-white:      $white !default;

$brand-primary:         $teal !default;
$brand-secondary:       $magenta !default;
$brand-success:         $light-green;
$brand-info:            $light-blue;
$brand-warning:         $light-yellow;
$brand-attention:       $light-red;
$brand-danger:          $light-red-2;

$border-lightbg:     $grey;
$border-darkbg:      $dark-purple-grey-04;

/**=====================================**/
/* 03 Components
/**=====================================**/
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-xlarge-vertical:    16px !default;
$padding-xlarge-horizontal:  28px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-medium-vertical:    8px !default;
$padding-medium-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       2px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

/**=====================================**/
/* 05 Media Queries Breakpoints
/**=====================================**/
// Extreme small screen / phone
$screen-xxs:                 320px !default;
$screen-xxs-min:             $screen-xxs !default;
$screen-phone:               $screen-xxs-min !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Extra large screen / wide desktop
$screen-xl:                  1400px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

/**=====================================**/
/* 17 Forms
/**=====================================**/
$input-height-base:           ($line-height-computed + ($padding-base-vertical * 2) + 2) !default; //-->34px
$input-height-large:          (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:          (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default; //-->30px

$cursor-disabled:           not-allowed !default;

/**=====================================**/
/* 36 Arrow Icon Rotation Degrees
/**=====================================**/
$arrow-left-rotation:      90 !default;
$arrow-right-rotation:     270 !default;
$arrow-top-rotation:       180 !default;

