////////////////////////////////////
////// Core
////// 01 Bootstrap-sass-asset-helper
////// 02 Colors
//////////// 02a Core Colour
//////////// 02b Scaffolding
//////////// 02c Global Textual Link Color
//////////// 02d Global Icon Link Color
//////////// 02e Alert State Colour
//////////// 02f Social Media Colour
//////////// 02g Account Plan Related Colour
//////////// 02h Privacy Setting Related Colour
//////////// 02i Others
///// 03 Components
///// 04 Form State and Alert
///// 05 Media Queries Breakpoints
//////////// 05a For specific case scenario
///// 06 Grid system
///// 07 Typography
//////////// 07a Base
//////////// 07b Header
//////////// 07c Body text size
////////////////////////////////////

////////////////////////////////////
///// UI Elements
///// 08 Alerts
///// 09 Badges
///// 10 Breadcrumbs
///// 11 Button
///// 12 Carousel
///// 13 Close
///// 14 Code
///// 15 Container Sizes
///// 16 Dropdowns
///// 17 Forms
///// 18 Jumbotron
///// 19 Labels
///// 20 List Group
///// 21 Modals
//////////// 21a Base
//////////// 21b Modal - Charts & Maps Shared Elements
//////////// 21d Modal-Charts - Main
//////////// 21e Modal-Charts - SVG library container
//////////// 21f Modal-Maps v4
///// 22 Color Picker
///// 23 Nav
///// 24 Navbar
///// 25 Pagination
///// 26 Pager
///// 27 Panels
///// 28 Popovers
///// 29 Progress Bars & Slider
///// 30 Table
///// 31 Thumbnail
///// 32 Tooltips
///// 33 Type (Different from typography)
///// 34 Wells
///// 35 Z-index Master List
///// 36 Arrow Icon Rotation Degrees
///// 37 Autocomplete, Dropdown List, Popover & Context Menu
///// 38 Shared Effect Style (eg. dropshadow)
////////////////////////////////////

////////////////////////////////////
///// Specific Pages
///// 39 Signup Polls
///// 40 Output/Presentation Page SCSS
///// 41 Templates Selector
///// 42 Magic Editor Structure
//////////// 42a Overall Structure
//////////// 42b Left Side Menu
//////////// 42c Block Settings
//////////// 42d Properties Toolbar
///// 43 Pricing Plans related
//////////// 43a Subscription Completion
//////////// 43b Pricing Pages/Modals/EDU
///// 44 Dashboard
//////////// 44a Header
//////////// 44b Inspire Me Page
///// 45 Responsive Notification
////////////////////////////////////

/**=====================================**/
/* 02a Scaffolding
/**=====================================**/
$body-bg:               $grey-lighter !default;
$editor-bg:             $grey !default;

$text-color:            $dark-purple-grey-03 !default;
$text-color-white:      $white !default;

$brand-primary:         $teal !default;
$brand-secondary:       $magenta !default;
$brand-success:         $light-green;
$brand-info:            $light-blue;
$brand-warning:         $light-yellow;
$brand-attention:       $light-red;
$brand-danger:          $light-red-2;
/**=====================================**/
/* 02i Others
/**=====================================**/
$border-lightbg:     $grey;
$border-darkbg:      $dark-purple-grey-04;

/**=====================================**/
/* 03 Components
/**=====================================**/
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-xlarge-vertical:    16px !default;
$padding-xlarge-horizontal:  28px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-medium-vertical:    8px !default;
$padding-medium-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       2px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

/**=====================================**/
/* 05 Media Queries Breakpoints
/**=====================================**/
// Extreme small screen / phone
$screen-xxs:                 320px !default;
$screen-xxs-min:             $screen-xxs !default;
$screen-phone:               $screen-xxs-min !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Extra large screen / wide desktop
$screen-xl:                  1400px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

/**=====================================**/
/* 17 Forms
/**=====================================**/
$input-height-base:           ($line-height-computed + ($padding-base-vertical * 2) + 2) !default; //-->34px
$input-height-large:          (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:          (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default; //-->30px

$cursor-disabled:           not-allowed !default;

/**=====================================**/
/* 23 Nav
/**=====================================**/
$nav-link-padding:                          10px 15px !default;

/**=====================================**/
/* 24 Navbar
/**=====================================**/
// Basics of a navbar
$navbar-height:                    60px !default;
$navbar-default-bg:                $dark-purple-grey-03 !default;

//Others
$navbar-menu-collapse-bp:                   950px;

/**=====================================**/
/* 27 Panels
/**=====================================**/
$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 0 10px 10px !default;
$panel-footer-padding:        $panel-heading-padding !default;

// Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $text-color !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $text-color !default;
$panel-success-heading-bg:    $brand-success !default;

$panel-info-text:             $text-color !default;
$panel-info-heading-bg:       $brand-info !default;

$panel-warning-text:          $text-color !default;
$panel-warning-heading-bg:    $brand-warning !default;

$panel-danger-text:           $text-color !default;
$panel-danger-heading-bg:     $brand-danger !default;

/**=====================================**/
/* 29 Progress Bars & Slider
/**=====================================**/


$slider-input-padding:        4px 4px 3px !default;
$slider-input-fontsize:       12px !default;

/**=====================================**/
/* 30 Table
/**=====================================**/
$table-cell-padding:            8px !default;
$table-condensed-cell-padding:  5px !default;
$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #ddd !default;

/**=====================================**/
/* 32 Tooltips
/**=====================================**/
$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;
$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;

/**=====================================**/
/* 33 Type (Different from typography)
/**=====================================**/
$component-offset-horizontal: 180px !default;
$text-muted:                  $teal-grey !default;
$abbr-border-color:           $border-lightbg !default;
$headings-small-color:        $teal-grey !default;
$blockquote-small-color:      $dark-purple-grey-06 !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $dark-purple-grey-06 !default;
$page-header-border-color:    $dark-purple-grey-06 !default;
$dl-horizontal-offset:        $component-offset-horizontal !default;
$hr-border:                   $border-lightbg !default;

/**=====================================**/
/* 34 Wells
/**=====================================**/
$well-bg:       #f5f5f5 !default;
$well-border:   darken($well-bg, 7%) !default;

/**=====================================**/
/* 35 Z-index Master List
/**=====================================**/
$zindex-properties-popover:            998 !default; //for elements such as colour box, properties bar dropdown
$zindex-navbar:                        999 !default;
$zindex-navbar-dropdown:               999 !default;
$zindex-navbar-fixed:                  999 !default;
$zindex-triggerbasedonbording-popover: 1000 !default;
$zindex-dashboard-popover:             1000 !default;
$zindex-needhelp:                      1002 !default;
$zindex-modal-background:              1030 !default; //eg: loading overlay
$zindex-modal:                         1040 !default;
$zindex-popover:                       1060 !default;
$zindex-modal-content:                 1060 !default; //elements on top of modal content
$zindex-tooltip:                       1070 !default;
$zindex-responsive-notify:             1080 !default;


/**=====================================**/
/* 36 Arrow Icon Rotation Degrees
/**=====================================**/
$arrow-left-rotation:      90 !default;
$arrow-right-rotation:     270 !default;
$arrow-top-rotation:       180 !default;

/**=====================================**/
/* 37 Autocomplete, Dropdown List & Context Menu
/**=====================================**/
$list-hover-color:               $grey-light!default;
$list-active-color:              $grey-dark!default;
$list-divider-color:             $grey!default;
$container-border-color:         $grey-dark!default;
$search-highlighted-word-color:  $teal!default;
$search-list-padding:            10px!default;
$contextmenu-list-padding:       2px 6px!default;

/**=====================================**/
/* 38 Shared Effect Style (eg. dropshadow)
/**=====================================**/
$boxlist-dropshadow:          0 0 3px 1px rgba(0,0,0,0.2)!default;
$active-element-insetshadow:  inset 0 2px 3px rgba(0,0,0,0.4)!default;
$boxlist-disabled-opacity:    .3!default;
$hover-opacity:               .5!default;

/**=====================================**/
/* Specific Pages
/**=====================================**/
/* 39 Signup Polls
/**=====================================**/
/*
  How many icons do you have per row ?
  icon-x is on the horizontal axis, icon-y is on the vertical axis. Please Change accordingly
  Currently this means that there are 9 rows and 8 columns
*/
$icon-x: 8;
$icon-y: 9;
$x-row-width: 100% / ($icon-x - 1);
$y-column-height: 100% / ($icon-y - 1);

$spoll-logo-height: 125px;

$spoll-input-height-short: 55px;
$spoll-input-height: 65px;

$spoll-slide-cont-padding-lg: 50px;
$spoll-slide-cont-padding-md: 60px;
$spoll-slide-cont-padding-sm: 50px;
$spoll-slide-cont-padding-xs: 35px;

$spoll-logo-border-width: 6px;
$spoll-max-width: 1016px;

/*account page*/
$signup-poll-acc-icon-size: 80px;
$signup-poll-acc-icon-margin-right: 40px;

/*These maps are storing sprite bgpositions*/
$signup-poll-svgmap: (
  (education, 1 , 0),
  (enterprise, 1 , 1),
  (sme, 1 , 2),
  (startup-sme, 1 , 3),
  (private, 1 , 4),
  (self-employed, 1 , 5),
  (ngo, 1 , 6),
  (government, 1 , 7),
  (other, 1 , 8),
  (teacher, 3 , 0),
  (tutor, 3 , 1),
  (student, 3 , 2),
  (librarian, 3 , 3),
  (admin, 3 , 4),
  // 3,5 used to be c-level icon (which had been changed to 5,0)
  (product-manager, 3 , 6),
  (sales-manager, 3 , 7),
  (marketing, 3 , 8),
  (c-level, 5 , 0),
  (representative, 5 , 0),
  (founder, 5 , 1),
  (project-manager, 5 , 2),
  (freelance-designer, 5 , 3),
  (freelance-marketer, 5 , 4),
  (blogger, 5 , 5),
  (business-consultant, 5 , 6),
  (fundraising, 5 , 7),
  (operation, 5 , 8),
  (signup-poll-success, 6 , 3),
  (signup-poll-user, 6 , 4),
  (hr, 7 , 0),
  (management, 7 , 1),
  (signup-poll-question, 6 , 2),
  (age-group-3-5, 7 , 5),
  (age-group-6-12, 7 , 6),
  (age-group-13-17, 7 , 7),
  (age-group-18plus, 7 , 8)
);

$signup-poll-active-map: (
  (education, 0 , 0),
  (enterprise, 0 , 1),
  (sme, 0 , 2),
  (startup-sme, 0 , 3),
  (private, 0 , 4),
  (self-employed, 0 , 5),
  (ngo, 0 , 6),
  (government, 0 , 7),
  (other, 0 , 8),
  (teacher, 2 , 0),
  (tutor, 2 , 1),
  (student, 2 , 2),
  (librarian, 2 , 3),
  (admin, 2 , 4),
  // 2,5 used to be c-level icon (which had been changed to 4,0)
  (product-manager, 2 , 6),
  (sales-manager, 2 , 7),
  (marketing, 2 , 8),
  (c-level, 4 , 0),
  (representative, 4 , 0),
  (founder, 4 , 1),
  (project-manager, 4 , 2),
  (freelance-designer, 4 , 3),
  (freelance-marketer, 4 , 4),
  (blogger, 4 , 5),
  (business-consultant, 4 , 6),
  (fundraising, 4 , 7),
  (operation, 4 , 8),
  (hr, 6 , 0),
  (management, 6 , 1),
  (signup-poll-question, 6 , 2),
  (age-group-3-5, 6 , 5),
  (age-group-6-12, 6 , 6),
  (age-group-13-17, 6 , 7),
  (age-group-18plus, 6 , 8)
);

/**=====================================**/
/* 40 Output/Presentation Page SCSS
/**=====================================**/
$output-infobar-width: 320px;
$presentation-slide-height: 100px;

/**=====================================**/
/* 41 Templates Selector
/**=====================================**/
$templates-filter-icon-height: 14px;
$templates-filter-bar-height: 40px;
$templates-height: 337px;
$templates-width: 232px;
$templates-presentation-list-height: 36px;
$presentation-height: 143px;
$format-side-margin: 30px;
$formats-breakpoint: 580px;

/**=====================================**/
/* 42 Magic Editor Structure
/**=====================================**/
/* 42a Overall Structure
/**=====================================**/
$content-header-gap: 30px !default;

/**=====================================**/
/* 42b Left Side Menu
/**=====================================**/
$editor-sidemenu-paneltab-width:        75px !default;
$editor-sidemenu-paneltab-padding:      13px !default;
$editor-sidemenu-paneltab-bg:           $dark-purple-grey-03 !default;
$editor-sidemenu-paneltab-color:        $grey-darker !default;
$editor-sidemenu-paneltab-active-color: $white !default;
$editor-sidemenu-tabcontent-bg:         $light-purple-grey-02 !default;
$editor-sidemenu-tabcontent-width:      282px !default;
$panel-padding:                         20px;
$editor-panel-padding:                  15px $panel-padding;
$innertab-panel-padding:                0px $panel-padding;
$uploading-spinner-padding-top:         25px!default;

/**=====================================**/
/* 42c Block Settings
/**=====================================**/
$editor-blocksetting-width:               25px !default;
$editor-blocksetting-height:              28px !default;
$editor-blocksetting-color:               $teal !default;
$editor-blocksetting-blocknumber-size:    40px !default;
$editor-blocksetting-padding:             12px !default;
$editor-blocksetting-bg:                  $dark-purple-grey-06 !default;
$editor-blocksetting-hover-bg:            $dark-purple-grey-03 !default;
$editor-blocksetting-divider:             $border-darkbg !default;
$editor-blocksetting-gap:                 5px !default;
$editor-blocksetting-content-width:       124px !default;
$editor-blocksetting-content-padding:     13px !default;
$editor-blocksetting-content-input-width: 72px !default;
$editor-blocksetting-content-input-height:22px !default;

/**=====================================**/
/* 42d Properties Toolbar
/**=====================================**/
$properties-tool-wrapper-bg:                  $grey-light !default;
$properties-tool-groupitem-gap:               3px !default;
$properties-tool-item-size:                   35px !default;
$properties-tool-dropdown-item-width:         46px !default;
$properties-tool-dropdown-arrow-padding-right:5px !default;
$properties-tool-dropdown-arrow-size:         10px !default;
$properties-tool-dropdown-top-gap:            6px !default;
$properties-tool-wrapper-padding:             15px 25px 9px !default;
$properties-tool-item-bg:                     $white !default;
$properties-tool-item-active-bg:              $grey-darker !default;
$properties-tool-item-divider:                $properties-tool-wrapper-bg !default;
$properties-tool-fonttype-dropdown-width:     120px !default;
$properties-tool-fontsize-dropdown-width:     50px !default;
$properties-tool-fonts-dropdown-height:       350px !default;

/**=====================================**/
/* 43 Pricing Plans related
/**=====================================**/
/* 43a Subscription Completion */
/**=====================================**/
$subscription-complete-content:          30px 50px;

/**=====================================**/
/* 43b Pricing Pages/Modals/EDU */
/**=====================================**/
$divider-color:                    #E4E4E4;
$box-bottom-margin:                50px;
$font-payment-price:               50px;
$font-heading-msg:                 20px;
$payment-content-padding:          25px 50px;
$list-item-min-height:             76px;
$list-item-max-height:             97px;

/**=====================================**/
/* 44 Dashboard */
/**=====================================**/
/* 44a Header */
/**=====================================**/
$dashboard-header-height:       70px;
$dashboard-responsive:          768px;
$dashboard-list-responsive:     1010px;
/**=====================================**/
/* 44b Inspire Me Page */
/**=====================================**/
$page-title-size:               37px;
$gutter_width:                  2;

/**=====================================**/
/* 45 Responsive Notification  */
/**=====================================**/
$editor-notify-size: 939px;

/**=====================================**/
/* 46 Output Page
/**=====================================**/
// Shared navbar (to fix the levelup orange text from jumping down)
$screen-lg-output: 1215px;
/*
  If this value is change, remember to change the value in the JS file as well
  /app/assets/javascripts/view/output/main.js LINE 286   
*/